<section class="container">
    <div class="row pt-2 pb-5">
      <div class="col-lg-12">
        <h1 class="home-center" style="padding-bottom:1rem">Unleash your education at LSU!</h1>
        <p class="lead" style="text-align:center; font-size: 2.5rem"><b>LSU Pre-College: On-Campus Courses</b></p>
        <p class="lead" style="text-align:center; font-size: 1.5rem"><b>Applications open February 15th!</b></p>
        <p class="lead"><b>LSU Pre-College On-Campus Courses</b> are 1-week and 2-week programs designed to offer a taste of the college experience for rising 6th-12th grade students. Participants will explore a topic of their interest while expanding their knowledge in their chosen discipline and experiencing collegiate life on LSU’s campus. We take our students’ safety seriously and adhere to all local, state, and federal guidelines concerning social distancing and safe learning practices.</p>
    </div>
</section>

<section class="grey-box">
  <div class="container">
      <div class="row pb-4 pt-4">
          <div class="slideshow-container">
            <div class="mySlides">
              <q>My experience at LSU Pre-College provided me with new knowledge and skills that I can apply in the future. I felt that I was in a class of like-minded peers aiming to achieve the same goal.</q>
              <p class="author">- <b>Student</b>, Summer Academy</p>
            </div>
          </div>
      </div>
  </div>
  </section>

<div class="container" id="academy">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">Summer Academy</h2>
        <h3 class="home-subheader">July | High School | On LSU's Campus</h3>
        <h3 class="home-subheader"><b>Registration opens Feburary 15th!</b></h3>
        <p class="lead"><b>Session 1:</b> July 6 - July 16<br><b>Session 2:</b> July 19 - July 30</p>
        <p class="lead">Our on-campus courses prepare you for your future middle school, high school, and college classes. You will learn alongside like-minded students from experts in the field, all in classrooms on LSU's campus. Our full selection of on-campus classes is below:</p>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/academy/masks.jpg" alt="Students participate in class with masks.">
      </div>
    </div>

<div class="space-t-sm space-b- max-w-2xl mx-auto">
  <section class="cards">
    {{ collection:courses taxonomy:course_type="on-campus-academy" }}

      <section id="{{slug}}" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
        	<div class="container" style="padding:0">
        	  <div class="row">
        	  	<div class="col-lg-12">
	          	  	<div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
		          		<p class="card__topic">{{course_type}}{{title}}{{/course_type}} | {{sponsor}}{{title}}{{/sponsor}}</p>
          				<h3 class="card__title">{{ title }}</h3>
		      		</div>
		         	<div class="col-lg-4 btn-container">
						<a class="btn btn-outline-purple btn-text-large m-2" role="button" href="/apply">Apply Now</a>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
          	<div class="container" style="padding:0">
	          <div class="row">
	          	<div class="col-lg-12">
                <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> {{dates}}{{title}}{{/dates}}</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> {{time}}{{title}}{{/time}}</p>
              </div>
                    <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Grades:</b> {{grade_level}}{{title}}{{/grade_level}}</p>
              </div>
              <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Tuition:</b> {{tuition}}{{title}}{{/tuition}}</p>
              </div>
	          	</div>
	      	  </div>
      		</div>
      	  <div>
			<a data-toggle="collapse" href="#collapse-college-{{slug}}" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			<div id="collapse-college-{{slug}}" class="collapse">
              <p class="card__body">
              {{ content }}
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>

      {{ /collection:courses }}
  </section>
</div>
</div>

<section class="grey-box">
  <div class="container" id="experiences">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">On-Campus Experiences</h2>
        <h3 class="home-subheader">June - July | Middle and High School | On LSU's Campus</h3>
        <h3 class="home-subheader"><b>Registration Opens Feburary 15th!</b></h3>
        <p class="lead">Sponsored by Departments across LSU's campus, our Educational Experiences are designed to provide fun, educational programs on campus for middle and high schoolers during the summer.</p>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/home/engineering.jpg" alt="Student preparing for college">
      </div>
    </div>


    <section class="cards">
    {{ collection:courses taxonomy:course_type="on-campus-experience" }}

      <section id="{{slug}}" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">{{course_type}}{{title}}{{/course_type}} | {{sponsor}}{{title}}{{/sponsor}}</p>
                  <h3 class="card__title">{{ title }}</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a class="btn btn-outline-purple btn-text-large m-2" role="button" href="/apply">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> {{dates}}{{title}}{{/dates}}</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> {{time}}{{title}}{{/time}}</p>
              </div>
                    <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Grades:</b> {{grade_level}}{{title}}{{/grade_level}}</p>
              </div>
              <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Tuition:</b> {{tuition}}{{title}}{{/tuition}}</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-college-{{slug}}" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-college-{{slug}}" class="collapse">
              <p class="card__body">
              {{ content }}
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>

      {{ /collection:courses }}
  </section>
      </div>
</section>