<section class="container">
    <div class="row pt-2 pb-5">
      <div class="col-lg-12">
        <h1 class="home-center" style="padding-bottom:1rem">Unleash your education at LSU!</h1>
        <p class="lead" style="text-align:center; font-size: 2.5rem"><b>LSU Pre-College On-Campus Courses</b></p>
        <p class="lead" style="text-align:center; font-size: 1.5rem"><b><a href="/apply">Registrations Now Open! Click Here to Apply</a></b></p>
        <p class="lead"><b>LSU Pre-College On-Campus Courses</b> are 1-week and 2-week programs designed to offer a taste of the college experience for rising 6th-12th grade students. Participants will explore a topic of their interest while expanding their knowledge in their chosen discipline and experiencing collegiate life on LSU’s campus.</p>
        <p class="lead">LSU Pre-College is committed to providing a safe and socially distanced learning environment for all of our students this summer. While following all health and safety guidelines at the university, state, and federal levels, we’ll be taking additional precautions to maximize student safety. Read more about our COVID-19 policies by clicking the button below.</p>

        <a data-toggle="collapse" href="#collapse-covid" class="btn btn-outline-purple btn-text-small">+ Read More</a>
        <div id="collapse-covid" class="collapse pt-2">
          <ul class="lead" style="padding-left:0.5rem;text-align:left">
            <li><b>Face Coverings:</b> All students and staff will be required to wear face coverings for the entirety of the program, and this rule will be strictly enforced by our camp staff. Students will be provided with an LSU-branded face covering at the beginning of the program.</li>
            <li><b>Physical Distancing:</b> All efforts will be made to ensure 6 feet of distance between students whenever possible. Class sizes will be limited and classrooms will be rearranged to maximize distancing.</li>
            <li><b>Daily Symptom Checker and Temperature Checks:</b>  Students and staff will be required to complete a symptom checker each day and present their results before class. They will also undergo a temperature check upon arrival to campus, and only those with a temperature of under 100°F will be allowed on campus.</li>
            <li><b>Hand Sanitizing:</b> Frequent hand washing will be encouraged throughout the program, and hand sanitizer will be available in all classroom spaces.</li>
            <li><b>Cough/Sneeze Etiquette:</b> Students will be taught proper cough and sneeze etiquette at the beginning of the program and encouraged to cough or sneeze into a tissue or the inside of their elbow to minimize the spread of germs.</li>
            <li><b>Sanitation of Classroom Spaces:</b> Intensified cleaning of all campus spaces is already underway according to CDC guidelines, and will continue to be implemented throughout the program. All classrooms will be cleaned at least once per day, including doorknobs, light switches, chairs, and desks.</li>
            <li><b>Isolation Pledge:</b> Before coming to campus, students will pledge to self-isolate for one week prior to the start of their program.</li>
          </ul>
          <p class="lead">With these policies in place, we hope to minimize transmission and spread of COVID-19 during the program. For more in-depth information about our COVID-19 policies, please visit our <a href="/courses/tuition#covid">Policies page</a>.</p>
        </div>
    </div>
</section>

<section class="grey-box">
  <div class="container">
      <div class="row pb-4 pt-4">
          <div class="slideshow-container">
            <div class="mySlides">
              <q>My experience at LSU Pre-College provided me with new knowledge and skills that I can apply in the future. I felt that I was in a class of like-minded peers aiming to achieve the same goal.</q>
              <p class="author">- <b>Student</b>, Summer Academy</p>
            </div>
          </div>
      </div>
  </div>
  </section>

<div class="container" id="academy">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">Summer Academy</h2>
        <h3 class="home-subheader">July | High School | On LSU's Campus</h3>
        <h3 class="home-subheader"><b><a href="/apply">Registration Now Open!</a></b></h3>
        <p class="lead"><b>Session 1:</b> July 6 - July 16<br><b>Session 2:</b> July 19 - July 30</p>
        <p class="lead"><i>Note: As we follow recent updates regarding the EBR Public School System's 2021 start dates, the session dates above are subject to change.</i></p>
        <p class="lead">Our on-campus courses prepare you for your future middle school, high school, and college classes. You will learn alongside like-minded students from experts in the field, all in classrooms on LSU's campus. A sample of our daily schedule is below:</p>
        <div class="row">
          <div class="col-lg-4">
            <p class="lead"><b>8:30AM-9:00AM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Drop-Off.</i></p>
          </div>
          <div class="col-lg-4 my-auto">
            <p class="lead"><b>9:00AM-11:00AM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Class Time.</i> Students will receive instruction from an expert in their chosen field. Lessons will incorporate interactive activities and lectures that are both informative and engaging.</p>
          </div>
          <div class="col-lg-4 my-auto">
            <p class="lead"><b>11:00AM-12:00PM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Lunch.</i> Students will eat supervised lunch at the campus dining hall.</p>
          </div>
          <div class="col-lg-4 my-auto">
            <p class="lead"><b>12:00PM-2:00PM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Class Time.</i> The format of class in the afternoon is the same as the morning, with a focus on hands-on activities and problem sets.</p>
          </div>
          <div class="col-lg-4 my-auto">
            <p class="lead"><b>2:00PM-3:00PM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Snacks & Activities.</i> After a long day of studying, students have the chance to relax and unwind with snacks and outdoor activities.</p>
          </div>
          <div class="col-lg-4">
            <p class="lead"><b>3:00PM-3:30PM:</b></p>
          </div>
          <div class="col-lg-8">
            <p class="lead"><i>Pick-up.</i></p>
          </div>
        </div>
        <p class="lead">Click on the course buttons below to learn more, or view our full course list here:</p>
        <div class="col-lg-12 mt-3 mb-4 btn-container">
          <a href="/courses?on-campus" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View On-Campus Courses</a>
        </div>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/academy/masks.jpg" alt="Students participate in class with masks." style="padding-bottom:3rem">
        <img src="/assets/img/academy/insights-field.jpg" alt="Professor teaches at the board." style="padding-bottom:3rem">
        <img src="/assets/img/academy/math-tall.jpg" alt="Student does math at the board.">
      </div>
    </div>

  <div class="row">

    <div class="col-lg-12 mb-2 mt-2">
      <h3 class="home-subheader text-center"><b>Session 1:</b> July 6 - July 16</h3>
    </div>
    {{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-6th-july-16th" }}
    <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
      <div class="card mb-4 box-shadow">
        <a href="/courses#{{slug}}">
        <div class="overlay-container">
          <img src="/assets/img/coursePics/{{slug}}.jpg" alt="{{title}}-related stock image" class="overlay-image" style="width:100%">
          <div class="overlay-middle">
            <div class="overlay-text">{{title}}</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    {{ /collection:courses }}

    <div class="col-lg-12 mb-2 mt-2">
      <h3 class="home-subheader text-center"><b>Session 2:</b> July 19 - July 30</h3>
    </div>
    {{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-19th-july-30th" }}
    <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
      <div class="card mb-4 box-shadow">
        <a href="/courses#{{slug}}">
        <div class="overlay-container">
          <img src="/assets/img/coursePics/{{slug}}.jpg" alt="{{title}}-related stock image" class="overlay-image" style="width:100%">
          <div class="overlay-middle">
            <div class="overlay-text">{{title}}</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    {{ /collection:courses }}
  </div>
</div>

<section class="grey-box">
  <div class="container" id="experiences">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">On-Campus Experiences</h2>
        <h3 class="home-subheader">June - July | Middle and High School | On LSU's Campus</h3>
        <h3 class="home-subheader"><b><a href="/apply">Registration Now Open!</a></b></h3>
        <p class="lead">Sponsored by Departments across LSU's campus, our Educational Experiences are designed to provide fun, educational programs on campus for middle and high schoolers during the summer. Click on the course buttons below to learn more, or view our full course list here:</p>
        <div class="col-lg-12 mt-3 mb-4 btn-container">
          <a href="/courses?on-campus" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View On-Campus Courses</a>
        </div>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/home/engineering.jpg" alt="Student preparing for college">
      </div>
    </div>

    <div class="row">
      {{ collection:courses taxonomy:course_type="on-campus-experience" }}
      <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
        <div class="card mb-4 box-shadow">
          <a href="/courses#{{slug}}">
          <div class="overlay-container">
            <img src="/assets/img/coursePics/{{slug}}.jpg" alt="{{title}}-related stock image" class="overlay-image" style="width:100%">
            <div class="overlay-middle">
              <div class="overlay-text">{{title}}</div>
            </div>
          </div>
          </a>
        </div>
      </div>
      {{ /collection:courses }}
    </div>
  </div>
</section>