<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Applications Delayed</h2>
	      	<p class="lead"><b>Applications are postposed as we await further updates from the university regarding Coronavirus. To help us decide on alternatives for the summer, please complete the short survey below. Thank you for your understanding!</b></p>
	        <p class="lead"><b>Early Bird Deadline:</b> April 8th, 2020</p>
	        <p class="lead"><b>Regular Application Deadline:</b> April 30th, 2020</p>
	        <p class="lead"><b>Tuition:</b> $325 Early Bird / $375 Regular</p>
	        <p class="lead"><b>Payments:</b> Payments are not due until after you are accepted.</p>
	        <p class="lead"><b>Contact:</b> Email <a href="mailto:jhileman1@lsu.edu" target="_blank">jhileman1@lsu.edu</a> with any questions.</p>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 700px">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxaV2hwjZNcr7A4TtwkOFea1AYITjt-4qjju_DkfR75BQgnQ/viewform?embedded=true" width="640" height="1741" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

	<!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "6360090",
		formId: "4a42b31a-b6e6-45cb-ab0a-39499fdc2e17"
	});
	</script>-->
</div>

<!--<script src="https://js.stripe.com/v3/"></script>

<script>
	window.addEventListener('message', event => {
	   if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
	       callStripe('sku_GfRN8EeKV2YtDp')
	   }
	});
</script>-->