<section class="grey-box">
	<div class="container">
	    <div class="row pt-4 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Registrations Will Open February 15th!</h2>

	      	<h2 class="home-header" style="padding-bottom:0; font-weight:700">On-Campus Courses</h2>
	      	  <h3 class="home-subheader">July 2020 | High School | 4-6 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registrations Opening Soon</b></h3>

	        <p class="lead"><b>Tuition:</b> $1250 for 2 weeks</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the course.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> Unfortunately, we are unable to award financial aid or scholarships this summer.</p>
	      </div>
	      <div class="col-lg-12 mt-4 btn-container">
	        <a class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Registration Opens February 15th</a>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem">
	<div class="row pt-2 pb-4">
	      <div class="col-lg-12 ">

	      <h2 class="home-header pt-4" style="padding-bottom:0; font-weight:700">Virtual Courses</h2>
	      	  <h3 class="home-subheader">June 28th - July 16th | High School | 2-3 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registrations Opening Soon</b></h3>

	        <p class="lead"><b>Tuition:</b> $895 for 3 weeks</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the course.</p>
			<p class="lead"><b>Scholarships & Financial Aid:</b> Unfortunately, we are unable to award financial aid or scholarships this summer.</p>
	      </div>
	      <div class="col-lg-12 mt-4 mb-2 btn-container">
	        <a class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Registration Opens February 15th</a>
	      </div>
	    </div>
</div>
