<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Registrations Will Open February 15th!</h2>

	      	<h2 class="home-header" style="padding-bottom:0; font-weight:700">High School Prep Courses</h2>
	      	  <h3 class="home-subheader">July 13th - 31st | High School | 1-2 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registrations Now Closed</b></h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b>Mathematical Reasoning | Intro to Statistics | Foundations of Calculus | Physics Fundamentals | Exploration of Chemical Processes | Environmental Microbiology</p>
	        <p class="lead"><b>Tuition:</b> $670</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> Unfortunately, we are unable to award financial aid or scholarships for High School Prep this summer.</p>
	      </div>
	      <div class="col-lg-12 mt-4 btn-container">
	        <a class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Registration Now Closed</a>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem">
	<div class="row pt-2 pb-4">
	      <div class="col-lg-12 ">
	      	
	      <h2 class="home-header pt-4" style="padding-bottom:0; font-weight:700">College Prep Courses</h2>
	      	  <h3 class="home-subheader">June 22nd - July 10th | High School | 2-3 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registrations Now Closed</b></h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b> Intro to Engineering | Virtual Math Circle | Programming in Python | Computational Biology</p>
	        <p class="lead"><b>Tuition:</b> $870 for 3 weeks</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Financial Aid:</b> The only College Prep course offering scholarships is the Virtual Math Circle, which will award 3 needs-based, full-tuition scholarships. Scholarship applications are now closed.</p>
	      </div>
	      <div class="col-lg-12 mt-4 mb-2 btn-container">
	        <a class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Registration Now Closed</a>
	      </div>
	    </div>
</div>

<section class="grey-box">
 <div class="container" style="padding-top:2rem; padding-bottom: 2rem">
	<div class="row pt-2 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-header" style="padding-bottom:0; font-weight:700">Educational Experiences</h2>
	      	  <h3 class="home-subheader">Dates Vary | Middle and High School | 2-3 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registration Now Closed</b></h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b> Exploring STEM | Halliburton Women in Engineering | Multicultural Engineering Tigers | Coding Camp</p>
	        <p class="lead"><b>Tuition:</b> $175</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> Halliburton Women in Engineering, Multicultural Engineering Tigers, and Coding Camp offer needs-based tuition scholarships. Check the box in the application if you would like to apply.</p>
	      </div>
	      <div class="col-lg-12 mt-4 mb-2 btn-container">
	        <a class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Registration Now Closed</a>
	      </div>
	    </div>
</div>
</section>