<section class="grey-box" id="high-school">
<div class="container">
  <div class="row pt-4 pb-4">
      <div class="col-lg-12">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">Full Course Listings</h2>
        <h3 class="home-subheader"><b>Registration Opens February 15th!</b></h3>
        <p class="lead">Our full course list can be found below. Click "View Course Description" to learn more!</p>
      </div>
  </div>
<!--
  <div class="row pt-4 pb-4">

    <div class="col-lg-4">
        <label for="course_name"><b>Course name:</b></label>
        <input type="text" id="course_name" name="course_name">

        <label><input type="checkbox" name="tags[]" value="on-campus" {{ if (get:tags|contains:on-campus) }}checked="checked"{{ /if }} /> On-Campus</label><br>
        <label><input type="checkbox" name="tags[]" value="virtual" {{ if (get:tags|contains:virtual-academy) }}checked="checked"{{ /if }} /> Virtual</label><br>
    </div>

    <div class="col-lg-8">-->
    <section class="cards">
    {{ collection:courses :taxonomy:tags="get:tags"}}

      <section id="{{slug}}" class="mt-1 mb-1 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background" id="courses">
        <div class="card__inner">
        	<div class="container" style="padding:0">
        	  <div class="row">
        	  	<div class="col-lg-12">
	          	  	<div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
		          		<p class="card__topic">{{course_type}}{{title}}{{/course_type}}</p>
          				<h3 class="card__title">{{ title }}</h3>
		      		</div>
		         	<div class="col-lg-4 btn-container">
						<a data-toggle="collapse" href="#collapse-college-{{slug}}" class="btn btn-outline-purple btn-text-large m-2">+ Course Description</a>
		         	</div>
                </div>
                <div class="col-lg-12">
                    <div id="collapse-college-{{slug}}" class="collapse">
                        <div class="container" style="padding:0">
                          <div class="row">
                            <div class="col-lg-12">
								<div class="col-lg-3 btn-container">
					          		<p class="card__text"><b>Dates:</b> {{dates}}{{title}}{{/dates}}</p>
					      		</div>
					      		<div class="col-lg-3 btn-container">
					          		<p class="card__text"><b>Time:</b> {{time}}{{title}}{{/time}}</p>
					         	</div>
			                    <div class="col-lg-3 btn-container">
									<p class="card__text"><b>Grades:</b> {{grade_level}}{{title}}{{/grade_level}}</p>
					         	</div>
					         	<div class="col-lg-3 btn-container">
									<p class="card__text"><b>Tuition:</b> {{tuition}}{{title}}{{/tuition}}</p>
					         	</div>
                            <div class="col-lg-12">
                              <p class="card__body">
                              {{ content }}
                              </p>
                          </div>
                        </div>

                    </div>
	          	</div>
	      	  </div>
      		</div>
          </div>
      </article>
    </section>
      {{ /collection:courses }}
  </section>
<!--
    </div>
  </div>
-->
</div>
</section>
<!--
<script>
    // Select all checkboxes with the name 'settings' using querySelectorAll.
    var checkboxes = document.querySelectorAll("input[type=checkbox][name=tags");
    let enabledTags = []

    // Use Array.forEach to add an event listener to each checkbox.
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        enabledTags = 
          Array.from(checkboxes) // Convert checkboxes to an array to use filter and map.
          .filter(i => i.checked) // Use Array.filter to remove unchecked checkboxes.
          .map(i => i.value) // Use Array.map to extract only the checkbox values from the array of objects.
          
        console.log(enabledTags)
      })
    });
</script>
-->