<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
      	<h2 class="home-center">Virtual Employment Applications Now Open</h2>
        <p class="home-subheader" style="margin-bottom:0">Open Positions</p>
        <p class="lead"><b style="font-size:1.4rem">Virtual Instructor</b><br>
        <i>Graduate student, postdoc, or high school teacher with strong teaching experience.</i><br>
        <b>Job Duties:</b> Instructors are directly responsible for their virtual class of approximately 30 students. Instructors make and carry out lesson plans over Zoom, monitor student progress, supervise students during class and office hours, supervise TAs, and enforce virtual classroom discipline. For a full list of open positions, see our jobs portal below.</p>

        <p class="lead"><b style="font-size:1.4rem">Virtual Camp Assistant (CA)</b><br>
        <i>Undergraduate student in corresponding discipline.</i><br>
        <b>Job Duties:</b> CAs help instructors facilitate their online classroom and work directly with students during class time. They are responsible for aiding instructors with lesson plans, clarifying material and enforcing behavioral guidelines during class, and aiding with virtual classroom facilitation and technical issues. For a full list of open positions, see our jobs portal below.</p>
      </div>

      <div class="col-lg-12 mt-4 btn-container">
	        <a href="https://lsuprecollege.bamboohr.com/jobs/" class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Click Here for our Jobs Portal</a>
	      </div>
    </div>
  </div>
</section>

<!--
<div class="container mt-4 mb-4" style="padding-top:2rem; padding-bottom: 2rem; max-width: 900px">
	<div class="request-info-container">
		<script type="text/javascript" defer src="//www.123formbuilder.com/embed/5330436.js" data-role="form" data-default-width="650px"></script>
	</div>
</div>-->