<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
      	<h2 class="home-center"><a href="https://lsu.formstack.com/forms/lsu_precollege_employment_application">Employment Applications Are Now Open!</a></h2>
        <p class="home-subheader" style="margin-bottom:0">Open Positions</p>
        <p class="lead"><b style="font-size:1.4rem">On-Campus Instructor</b><br>
        <i>Graduate student, postdoc, or high school teacher with strong teaching experience.</i><br>
        <b>Job Duties:</b> Instructors are directly responsible for their class of approximately 15 students. Instructors make and carry out lesson plans, monitor student progress, supervise students during class and office hours, supervise TAs, and enforce classroom discipline. On-Campus Instructors must provide their own transportation to and from Louisiana State University in Baton Rouge, LA each weekday of the program. The following courses have open positions for On-Campus Instructors:</p>
        <ul>
          <li>Physics Fundamentals</li>
          <li>Exploration of Chemical Processes</li>
          <li>Mathematical Reasoning</li>
        </ul>

        <p class="lead"><b style="font-size:1.4rem">On-Campus Camp Assistant (CA)</b><br>
        <i>Undergraduate student</i><br>
        <b>Job Duties:</b> On-Campus CAs help instructors facilitate their on-campus course and work directly with students during class time. They are responsible for aiding instructors with lesson plans, clarifying material, enforcing behavioral guidelines, and supervising students throughout the day. On-Campus CAs must provide their own transportation to and from Louisiana State University in Baton Rouge, LA each weekday of the program. The following courses have open positions for On-Campus CAs:</p>
        <ul>
          <li>Physics Fundamentals</li>
          <li>Exploration of Chemical Processes</li>
          <li>Mathematical Reasoning</li>
          <li>Intro to Engineering (On-Campus)</li>
          <li>Fundamentals of Sound Design</li>
          <li>Cybersecurity</li>
          <li>Interactive Computing</li>
        </ul>

        <p class="lead"><b style="font-size:1.4rem">Virtual Camp Assistant (CA)</b><br>
        <i>Undergraduate student</i><br>
        <b>Job Duties:</b> Virtual CAs help instructors facilitate their online classroom and work directly with students during class time. They are responsible for aiding instructors with facilitating virtual class, clarifying material, enforcing behavioral guidelines during class, and assisting instructors and students with basic technical issues. Virtual CAs will be assigned a morning and an afternoon course. The following courses have open positions for Virtual CAs:</p>
        <ul>
          <li>Intro to Engineering (Virtual)</li>
          <li>Game Design in JavaScript</li>
          <li>Math Circle: Conducting Mathematical Research</li>
        </ul>

        <p class="lead"><b style="font-size:1.4rem">Research Mentor - Math Circle (Virtual)</b><br>
        <i>PhD student in Mathematics.</i><br>
        <b>Job Duties:</b> Research mentors plan 3-4 potential mathematics research projects accessible to high school students. At the start of Math Circle, they present their proposals, and will ultimately be assigned to two groups of 2-4 students each. For the rest of the program, they are responsible for virtually supervising these students and guiding them through their research project, as well as aiding them in preparing their presentation at the end of the program. We still have positions available for Research Mentors this summer.</p>

      </div>

      <div class="col-lg-12 mt-4 btn-container">
	        <a href="https://lsu.formstack.com/forms/lsu_precollege_employment_application" class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Click Here for our Employment Application</a>
	      </div>

    </div>
  </div>
</section>
