<section class="grey-box">
  <section class="container" style="background-color:#FF0000">
    <div class="row pt-2 pb-2">
        <div class="col-lg-12">
          <h2 class="home-center" style="font-size:2.5rem; color:#FFF">Summer 2022 registration opening February 1st</h2>
        </div>
    </div>
  </section>

  <!-- <div class="container">
    <div class="row pt-3 pb-5">
      <div class="col-lg-12 ">
        <p class="lead" style="text-align:center; font-size: 2rem"><b>LSU Pre-College Summer Experiences will return Summer 2021</b></p>
        <p class="lead" style="text-align:center; font-size: 1.5rem"><b>Check out our Virtual Programs - <a href="/virtual">click here!</a></b></p>
        <p class="lead">LSU Summer Experiences are 1- to 2-week on-campus experiences for rising 7th-12th grade students put on by various LSU departments and supported by grants and sponsors. Less rigorous than the Pre-College Summer Academy, these engaging and educational camps give you a head start in your STEM education and enrich your summer with engaging and educational activities! Our 2020 summer experiences are shown below:</p>
      </div>
    </div>
  </div>
</section> -->

<section class="container">
  <div class="space-t-sm space-b- max-w-2xl mx-auto">
    <section class="cards">

    <section id="rehams" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <a href="/apply-rehams"><img src="/assets/img/experiences/rehams.jpg" alt="Students build a bridge as part of an engineering camp" style="object-fit: cover; float:left;"></a>
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</h2>
          <h2 class="card__title">REHAMS</h2>
          <p style="text-align:justify">The LSU College of Engineering is proud to offer the REHAMS residential engineering summer camp to qualified high school students. This program gives high school students the chance to explore, create, experiment, build, code, design, and compete in a variety of engineering and college preparatory activities. The camp is held on LSU’s Baton Rouge campus where college faculty and college students interact with attendees through a number of hands-on workshops and activities. The signature event is the week-long “Design Project Competition” in which students compete in teams to design, build, and present a project.</p>
          <p><b>Dates:</b> Summer 2021<br>
            <b>Type:</b> Residential<br>
            <b>Grades:</b> Current 10th - 11th<br>
            <b>GPA Required:</b> 3.0 or greater<br>
            <b>Scholarships:</b> A limited number of need-based scholarships are available.<br>
            <b>Contact:</b> <a href="mailto:rehams@eng.lsu.edu">rehams@eng.lsu.edu</a></p>

          <p class="card__text" style="font-size:1.5rem"><b>View our Virtual Alternatives:</b> <a href="/virtual#experiences">Click Here</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/virtual#engineering-tigers" class="btn btn-outline-purple" role="button">View Virtual Program</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="xcite" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <a href="/apply-xcite"><img src="/assets/img/experiences/xcite.jpg" alt="Two female students participate in an engineering activity" style="object-fit: cover; float:left"></a>
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">Halliburton XCITE</h2>
          <p style="text-align:justify">The LSU College of Engineering is proud to offer the Halliburton XCITE residential engineering summer camp to qualified 8th, 9th, 10th and 11th grade, female students. This program gives girls the chance to explore, create, experiment, build, code, design, and compete in a variety of engineering and college preparatory activities. The camp is held on LSU’s Baton Rouge campus where college faculty and college students interact with attendees through a number of hands-on workshops and activities. The signature event is the week-long “Design Project Competition” in which students compete in teams to design, build, and present a project.</p>
          <p><b>Dates:</b> Summer 2021<br>
            <b>Type:</b> Residential<br>
            <b>Grades:</b> Current 8th - 11th, Females<br>
            <b>GPA Required:</b> 2.9 or greater<br>
            <b>Scholarships:</b> A limited number of need-based scholarships are available.<br>
            <b>Contact:</b> <a href="mailto:xcite@eng.lsu.edu">xcite@eng.lsu.edu</a></p>

          <p class="card__text" style="font-size:1.5rem"><b>View our Virtual Alternatives:</b> <a href="/virtual#experiences">Click Here</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/virtual#engineering-tigers" class="btn btn-outline-purple" role="button">View Virtual Program</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="exploremiddle" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/exploremiddle.jpg" alt="One student helps another student with his code in a computer lab" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">eXploreCS - Middle School</h2>
          <p style="text-align:justify">In today’s world, computing is everywhere, whether it is in the form of actual computers (laptops or desktops), cell phones, sensors, or many other embedded devices.  Learn how these computing devices work and how they help us solve all kinds of interesting problems through hands-on-experience with hardware and software. You will also explore cutting-edge labs at LSU and meet professors and students working in this exciting area!</p>
          <p><b>Dates:</b> Summer 2021<br>
            <b>Type:</b> Commuting<br>
            <b>Grades:</b> Current 6th - 8th<br>
            <b>Contact:</b> <a href="mailto:adriennesteele@lsu.edu">adriennesteele@lsu.edu</a></p>
          
          <p class="card__text" style="font-size:1.5rem"><b>View our Virtual Alternatives:</b> <a href="/virtual#experiences">Click Here</a></p>

          <div class="mt-2 mb-2 btn-container">
            <a href="/virtual#coding" class="btn btn-outline-purple" role="button">View Virtual Program</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="explorehigh" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/explorehigh.jpg" alt="A student codes in front of a computer" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">eXploreCS - High School</h2>
          <p style="text-align:justify">Computer Science is one of the fastest-growing fields in today’s job market - it plays a crucial role in our IT infrastructure, supporting all kinds of applications from engineering to healthcare. In this camp, you will develop problem-solving skills in key programming areas including networks, algorithms, data structures, analytics, visualization, artificial intelligence, robotics, and cybersecurity. You will also explore cutting edge labs and interact with computer science faculty and students.</p>
          <p><b>Dates:</b> Summer 2021<br>
            <b>Type:</b> Commuting<br>
            <b>Grades:</b> Current 9th - 11th<br>
            <b>Contact:</b> <a href="mailto:adriennesteele@lsu.edu">adriennesteele@lsu.edu</a></p>
          
          <p class="card__text" style="font-size:1.5rem"><b>View our Virtual Alternatives:</b> <a href="/virtual#experiences">Click Here</a></p>

          <div class="mt-2 mb-2 btn-container">
            <a href="/virtual#coding" class="btn btn-outline-purple" role="button">View Virtual Program</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="stem" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/stem.jpg" alt="Three pre-med students study spectroscopy" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">Exploring STEM</h2>
          <p style="text-align:justify">Join us this week as we introduce you to a variety of cutting-edge STEM fields. Through field trips and hands-on activities, you will have the opportunity to work in teams to design, build, and present projects.</p>
          <p><b>Dates:</b> Summer 2021<br>
            <b>Type:</b> Commuting<br>
            <b>Grades:</b> Current 6th - 8th<br>
            <b>Contact:</b> <a href="mailto:jhileman1@lsu.edu">jhileman1@lsu.edu</a></p>
          
          <p class="card__text" style="font-size:1.5rem"><b>View our Virtual Alternatives:</b> <a href="/virtual#experiences">Click Here</a></p>

          <div class="mt-2 mb-2 btn-container">
            <a href="/virtual#exploring-stem" class="btn btn-outline-purple" role="button">View Virtual Program</a>
          </div>            
        </div>
      </article>
    </section>

	</section>
  </div>
</section>