<section class="container">
    <div class="row pt-5 pb-4">
      <div class="col-lg-12 ">
		<h1 class="home-center">LSU Pre-College Summer Programs</h1>

		<!--Testimonials-->
		<div class="slideshow-container">

      	  <div class="mySlides">
      	    <q>I walked away from this course with fundamental knowledge about a subject that I can expand upon further this school year.</q>
      	    <p class="author">- <b>Student</b>, Physics Fundamentals</p>
      	  </div>

      	  <div class="mySlides">
      	    <q>[My son] was engaged from beginning to end and felt that he learned things in the program, not only from mentors but also from group members.</q>
      	    <p class="author">- <b>Parent</b>, Math Circle</p>
      	  </div>

      	  <div class="mySlides">
      	    <q>It was a really good use of my summer and solidified my desire to go into industrial engineering. Getting to do the hands on projects was not only fun, but it was more helpful than I was expecting in helping to grow my knowledge of engineering.</q>
      	    <p class="author">- <b>Student</b>, Intro to Engineering</p>
      	  </div>

      	  <div class="mySlides">
      	    <q>As an LSU alumni, I am proud of LSU’s ability to run such a professional, well run, valuable course. Keep up the great work!</q>
      	    <p class="author">- <b>Parent</b>, Virtual Academy</p>
      	  </div>

      	  <div class="mySlides">
      	    <q>A disciplined course that makes you think outside the box. An experience I would definitely try again before heading to college.</q>
      	    <p class="author">- <b>Student</b>, Computational Biology</p>
      	  </div>

      	  <div class="mySlides">
      	  	<q>LSU Pre-College (specifically, Math Circle) was such a rewarding experience. This research program fostered both personal (i.e. the development of qualities like perseverance) and intellectual growth.</q>
      	  	<p class="author">- <b>Student</b>, Math Circle</p>
      	  </div>

      	  <!-- Next/prev buttons -->
      	  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      	  <a class="next" onclick="plusSlides(1)">&#10095;</a>
      	</div>

      	<!-- Dots/bullets/indicators -->
      	<div class="dot-container">
      	  <span class="dot" onclick="currentSlide(1)"></span>
      	  <span class="dot" onclick="currentSlide(2)"></span>
      	  <span class="dot" onclick="currentSlide(3)"></span>
      	  <span class="dot" onclick="currentSlide(4)"></span>
      	  <span class="dot" onclick="currentSlide(5)"></span>
      	  <span class="dot" onclick="currentSlide(6)"></span>
      	</div>

        <p class="lead"><b>LSU Pre-College will offer both on-campus and virtual courses this summer!</b> View our full course list <a href="/courses">here</a>.</p>
        <p class="lead">At LSU Pre-College, we offer top-notch educational experiences for 6th-12th grade students each summer. From biology to math to engineering, there’s something for every student in our lineup of virtual and on-campus courses. Unleash your education at LSU Pre-College!</p>

      </div>
    </div>
</section>

<!-- Summer Academy -->
<section class="grey-box">
<section class="container">
    <div class="row pt-5 pb-4">
      <div class="col-lg-8">
      	<h1 class="home-center">On-Campus Programs</h1>
      	<p class="lead" style="text-align:center; font-size: 2rem"><b>Registration Closed for 2021</b></p>
        <p class="lead">Our <b>on-campus courses</b> prepare you for your future middle school, high school, and college classes. With on-campus programs, you will explore a topic of your interest while expanding your knowledge in your chosen discipline and experiencing collegiate life on LSU’s campus. We take our students’ safety seriously and adhere to all local, state, and federal guidelines concerning social distancing and safe learning practices. Learn more by clicking the buttons below:</p>
		<div class="col-lg-12 mt-3 mb-3 btn-container">
			<a href="/academy" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">Read More About On-Campus Programs</a>
		</div>
		<div class="col-lg-12 mt-3 mb-3 btn-container">
			<a href="/courses?on-campus" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View All On-Campus Courses</a>
		</div>
	  </div>
	  <div class="col-lg-4 my-auto academy-image">
		<img src="/assets/img/academy/masks.jpg" alt="Students wearing masks in class" style="padding-bottom:3rem">
		<img src="/assets/img/masks-union.jpg" alt="Students wearing masks in the union">
	  </div>
    </div>
</section>
</section>

<section class="container">
    <div class="row pt-5 pb-5">
	  <div class="col-lg-4 my-auto academy-image">
		<img src="/assets/img/academy/compsci-tall.jpg" alt="Students at computers">
	  </div>
      <div class="col-lg-8 ">
        <h1 class="home-center">Virtual Programs</h1>
		<p class="lead" style="text-align:center; font-size: 2rem"><b>Registration Closed for 2021</b></p>
        <p class="lead">Our <b>virtual programs</b> are online educational experiences for middle and high school students. Participants receive synchronous (live and online) instruction featuring engaging projects and activities, as well as one-on-one and small-group support, in a variety of disciplines, and also receive a mailed learning kit. Learn more by clicking the buttons below:</p>
		<div class="col-lg-12 mt-3 mb-3 btn-container my-auto">
			<a href="/virtual" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">Read More About Virtual Programs</a>
		</div>
		<div class="col-lg-12 mt-3 mb-3 btn-container">
			<a href="/courses?virtual" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View All Virtual Courses</a>
		</div>
	  </div>
    </div>
</section>
