<section class="container">
    <div class="row pt-4 pb-4">
      <div class="col-lg-12">
        <h1 class="home-center">Unleash your education at LSU Pre-College.</h1>
        <h2 class="lead pb-2" style="text-align:center; font-size:2rem"><b>Virtual and On-Campus Summer Programs at LSU</b></h2>
        <p class="lead"><b>LSU Pre-College</b> offers top-notch educational experiences for 6th-12th grade students each summer. From biology to math to engineering, there’s something for every student in our lineup of virtual and on-campus courses.</p>

        <a data-toggle="collapse" href="#collapse-summer" class="btn btn-outline-purple btn-text-small">+ More About Our Learning Approach</a>
        <div id="collapse-summer" class="collapse pt-2">
          <p class="lead"><b>Learning Virtually:</b> With our virtual courses, you'll receive synchronous (live and online) instruction featuring engaging projects and activities, as well as one-on-one and small-group support, in a variety of disciplines. Learning virtually can be challenging - but it doesn’t have to be. With student engagement and learning as our primary goals, our courses incorporate live virtual class every weekday, hands-on activities and projects, and a mailed learning kit with course supplies for every course. It's virtual learning at its best!</p>
          <p class="lead"><b>Learning On-Campus:</b> We know everyone is as excited as we are to get back to campus! Participants in our on-campus courses will explore a topic of their interest while experiencing collegiate life on LSU’s campus. We take our students’ safety seriously and adhere to all local, state, and federal guidelines concerning social distancing and safe learning practices.</p>
        </div>
      </div>

      <div class="col-lg-1"></div>

      <div class="col-lg-4 mt-4 mb-2 btn-container">
	        <p class="lead" style="margin-bottom:0.5rem; font-size:1.5rem;font-weight:600">Virtual Courses</p>
	        <p class="lead"><b>Length:</b> 1-3 weeks<br>
	        	<b>Age:</b> Middle and High School<br>
	        	<b>Time:</b> 1-3 hours per day<br>
	        	<b>Registration Closed for 2021</b></p>
	        <a href="#virtual" class="btn btn-outline-purple btn-text-large" role="button">Learn More</a>
        </div>

        <div class="col-lg-2"></div>

        <div class="col-lg-4 mt-4 mb-2 btn-container">
	        <p class="lead" style="margin-bottom:0.5rem;font-size:1.5rem;font-weight:600">On-Campus Courses</p>
	        <p class="lead"><b>Length:</b> 1-2 weeks<br>
	        	<b>Age:</b> Middle and High School<br>
	        	<b>Time:</b> 4-6 hours per day<br>
	        	<b>Registration Closed for 2021</b></p>
	        <a href="#on-campus" class="btn btn-outline-purple btn-text-large" role="button">Learn More</a>
        </div>

        <div class="col-lg-1"></div>
	  </div>

    </div>
</section>

<section class="grey-box" id="on-campus">
  <div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-lg-8">
          <h2 class="home-header" style="padding-bottom:0; font-weight:700">On-Campus Programs</h2>
          <h3 class="home-subheader">June and July | Middle and High School</h3>
          <h3 class="home-subheader"><b>Registration Closed for 2021</b></h3>
          <p class="lead">Our on-campus courses prepare you for your future middle school, high school, and college classes. You'll learn alongside like-minded students from experts in the field, all in classrooms on LSU's campus. Click on the course buttons below to learn more, or view our full course list here:</p>
          <div class="col-lg-12 mt-3 mb-4 btn-container">
            <a href="/courses?on-campus" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View On-Campus Courses</a>
          </div>
          <div class="row">
          {{ collection:courses taxonomy:course_type="on-campus-academy|on-campus-experience" }}
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
            <div class="card mb-4 box-shadow">
              <a href="/courses#{{slug}}">
              <div class="overlay-container">
                <img src="/assets/img/coursePics/{{slug}}.jpg" alt="{{title}}-related stock image" class="overlay-image" style="width:100%">
                <div class="overlay-middle">
                  <div class="overlay-text">{{title}}</div>
                </div>
              </div>
              </a>
            </div>
          </div>
          {{ /collection:courses }}
          </div>
        </div>

        <div class="col-lg-4 my-auto academy-image">
          <img src="/assets/img/academy/masks.jpg" alt="Students wearing masks in class" style="padding-bottom:3rem">
          <img src="/assets/img/academy/prevet-tall.jpg" alt="Students in pre-vet holding goats" style="padding-bottom:3rem">
          <img src="/assets/img/masks-union.jpg" alt="Students wearing masks in the union">
        </div>
      </div>
  </div>
</section>

<div class="container" id="virtual">
  <div class="row pt-4 pb-4">
    <div class="col-lg-4 my-auto academy-image">
      <img src="/assets/img/academy/compsci-tall.jpg" alt="Students at computers" style="padding-bottom:3rem">
      <img src="/assets/img/academy/mask-virtual.jpg" alt="Student at laptop with mask on">
    </div>

    <div class="col-lg-8">
      <h2 class="home-header" style="padding-bottom:0; font-weight:700">Virtual Programs</h2>
      <h3 class="home-subheader">June and July | Middle and High School</h3>
      <h3 class="home-subheader"><b>Registration Closed for 2021</b></h3>
      <p class="lead">Our virtual courses are designed to provide the same level of learning as our on-campus courses from the safety and convenience of your home. These courses are taught by expert educators, and participants will cement their knowledge through interactive lessons that include lectures, activities, and projects. Click on the course buttons below to learn more, or view our full course list here:</p>
      <div class="col-lg-12 mt-3 mb-4 btn-container">
        <a href="/courses?virtual" class="btn btn-outline-purple" role="button" style="font-size:1.3rem">View Virtual Courses</a>
      </div>
      <div class="row">
      {{ collection:courses taxonomy:course_type="virtual-academy|virtual-experience" }}
      <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
        <div class="card mb-4 box-shadow">
          <a href="/courses#{{slug}}">
          <div class="overlay-container">
            <img src="/assets/img/coursePics/{{slug}}.jpg" alt="{{title}}-related stock image" class="overlay-image" style="width:100%">
            <div class="overlay-middle">
              <div class="overlay-text">{{title}}</div>
            </div>
          </div>
          </a>
        </div>
      </div>
      {{ /collection:courses }}
      </div>
    </div>
  </div>
</div>

<section class="grey-box">
<div class="container">
    <div class="row pt-4 pb-4">
	  <div class="col-lg-6 mt-4 mb-4 btn-container">
	    <a href="/courses" class="btn btn-outline-purple" role="button" style="font-size:2rem" id="learn-more">Learn More</a>
	  </div>
      <div class="col-lg-6 mt-4 mb-4 btn-container">
        <a href="/apply" class="btn btn-outline-purple" role="button" style="font-size:2rem" id="apply-now">Apply Now!</a>
      </div>
    </div>
</div>
</section>
