<section class="container">
    <div class="row pt-2 pb-5">
      <div class="col-lg-12">
        <h1 class="home-center" style="padding-bottom:1rem">Unleash your education at LSU!</h1>
        <p class="lead" style="text-align:center; font-size: 2.5rem"><b>LSU Pre-College: Virtual Academy</b></p>
        <p class="lead" style="text-align:center; font-size: 1.5rem"><b>Applications open February 15th!</b></p>
        <p class="lead">The <b>LSU Pre-College Virtual Academy</b> offers online educational experiences for middle and high school students during the summer. With LSU's Virtual Academy, you'll receive synchronous (live and online) instruction featuring engaging projects and activities, as well as one-on-one and small-group support, in a variety of disciplines.</p>

        <p class="lead" style="margin-bottom:0.5rem; font-size:1.5rem;font-weight:600">Learning Virtually - Our Approach</p>
        <p class="lead">Learning virtually can be challenging - but it doesn’t have to be. We have designed the LSU Virtual Academy with engagement and ease-of-use in mind so that students can participate in the learning process from the safety and comfort of home.</p>
        <p class="lead">With <b>student engagement and learning</b> as our primary goals, our courses incorporate:</p>
        <ul class="lead" style="padding-left:0.5rem;text-align:left">
          <li><b>Live virtual class</b> every weekday
          <li>Dedicated one-on-one and small group support
          <li>A <b>mailed learning kit</b> with course supplies and materials
          <li><b>Hands-on activities</b> and projects
          <li>Clear expectations to facilitate an effective learning environment
        </ul>

        <a data-toggle="collapse" href="#collapse-classroom" class="btn btn-outline-purple btn-text-small">+ More about our approach</a>
        <div id="collapse-classroom" class="collapse">
          <p class="lead pt-2">The LSU Virtual Academy offers high-quality virtual courses that were developed with <b>student engagement and learning</b> as our primary goals. In order to ensure that students do not get lost in a virtual format, students are provided with <b>daily structured learning time</b>, including a <b>daily live virtual class and office hours</b> with our instructors and teaching assistants. In order to ensure that students remain engaged in learning the material, each course includes <b>hands-on activities and projects</b> that students can work on in small groups or individually.</p>
          <p class="lead">In order to ensure that our students have the best preparation, each participant in the program will be <b>mailed a learning kit with course materials</b> to conduct projects and participate in class. Additionally, we know that these steps alone may not be enough for many students to maintain engagement in an online environment. To address this, our program will also include <b>dedicated one-on-one and small group support</b> for every student.</p>
          <p class="lead">To ensure clear and effective communication, courses will be delivered through <b>Moodle and Zoom</b>. All students will receive an LSU ID that they will use to log into Moodle and access their course and other important information. Students will attend class daily through Zoom, with courses supplements by materials on Moodle. A teaching assistant and a tech assistant are both available during class to assist the instructor and students when necessary. For a list of tech requirements, please <a href="/virtual/tech">click here</a>.</p>
        </div>
      </div>

        </div>
    </div>
</section>

<section class="grey-box" id="high-school">
<div class="container">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">Virtual Academy</h2>
        <h3 class="home-subheader">June 28th - July 16th | High School | 2-3 hours per day</h3>
        <h3 class="home-subheader"><b>Registration Opens Feburary 15th!</b></h3>
        <p class="lead">Our virtual courses are designed to provide the same level of learning as our on-campus courses from the safety and convenience of your home. These courses are taught by expert educators, and participants will cement their knowledge through interactive lessons that include lectures, activities, and projects. All virtual courses feature the following:</p>
        <ul class="lead" style="padding-left:0.5rem;text-align:left">
          <li><b>Projects and activities</b> for participants to complete individually and in groups</li>
          <li><b>2 consecutive hours</b> of structured learning time Monday-Friday, in either the morning or afternoon</li>
          <li style="list-style-type:none">
            <ul class="lead" style="text-align:left">
              <li>1 hour of live virtual class with an instructor and teaching assistant</li>
              <li>1 hour of one-on-one or small group support with an instructor and teaching assistant</li>
            </ul>
          </li>
          <li>A <b>mailed learning kit</b> containing supplies for the course and an LSU t-shirt</li>
        </ul>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/home/premed.jpg" alt="Student preparing for college" style="padding-bottom:3rem">
        <img src="/assets/img/academy/math-tall.jpg" alt="Teacher giving lecture">
      </div>
    </div>


    <section class="cards">
    {{ collection:courses taxonomy:course_type="virtual" }}

      <section id="{{slug}}" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
        	<div class="container" style="padding:0">
        	  <div class="row">
        	  	<div class="col-lg-12">
	          	  	<div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
		          		<p class="card__topic">{{course_type}}{{title}}{{/course_type}} // {{grade_level}}{{title}}{{/grade_level}}</p>
          				<h3 class="card__title">{{ title }}</h3>
		      		</div>
		         	<div class="col-lg-4 btn-container">
						<a class="btn btn-outline-purple btn-text-large m-2" role="button" href="/apply">Apply Now</a>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
          	<div class="container" style="padding:0">
	          <div class="row">
	          	<div class="col-lg-12">
	          	  	<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Dates:</b> {{dates}}{{title}}{{/dates}}</p>
		      		</div>
		      		<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Time:</b> {{time}}{{title}}{{/time}}</p>
		         	</div>
		         	<div class="col-lg-4 btn-container">
						<p class="card__text"><b>Tuition:</b> {{tuition}}{{title}}{{/tuition}}</p>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
      	  <div>
			<a data-toggle="collapse" href="#collapse-college-{{slug}}" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			<div id="collapse-college-{{slug}}" class="collapse">
              <p class="card__body">
              {{ content }}
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>

      {{ /collection:courses }}
  </section>
      </div>
</section>
