<section class="container">
    <div class="row pt-4 pb-5">
      <div class="col-lg-12 ">
        <h1 class="home-center">This Summer, Find Your Passion at LSU.</h1>
        <h2 class="home-center" style="font-size:2rem">June 7th - 27th, 2020</h2>
        <p class="lead">The LSU Pre-College Summer Academy is a 3-week program designed to introduce you to your future major. As a student in the Summer Academy, you'll choose a "mini-major" to explore throughout the program, through interactions with experts in the field and hands-on activities in your chosen discipline. You'll also take College 101, our college readiness course, to prepare you for the rigors of collegiate study, all while living in LSU residence halls and eating in LSU dining halls like a real undergraduate. Click on the buttons below to learn more!</p>
        <div class="col-lg-4 mt-4 mb-2 btn-container">
          <a href="#mini-majors" class="btn btn-outline-purple" role="button">Mini-Majors</a>
        </div>
        <div class="col-lg-4 mt-4 mb-2 btn-container">
          <a href="#residential" class="btn btn-outline-purple" role="button">Residential Experience</a>
        </div>
        <div class="col-lg-4 mt-4 mb-2 btn-container">
          <a href="#college" class="btn btn-outline-purple" role="button">College Readiness</a>
          </div>
        </div>
    </div>
</section>

<section id="mini-majors" class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-lg-12 ">
      <h2 class="home-header" style="padding-bottom:0">Explore Your Field</h2>
    	<h3 class="home-subheader">Pick a Mini-Major:</h3>
    </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#engineering">
            <div class="overlay-container">
              <img src="/assets/img/home/engineering.jpg" alt="Engineering students group photo" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Engineering</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#premed">
            <div class="overlay-container">
              <img src="/assets/img/home/prevet.jpg" alt="Students holding goats" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Pre-Med/Pre-Vet</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#robotics">
            <div class="overlay-container">
              <img src="/assets/img/home/robotics.jpg" alt="Students working on a robotics project" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Robotics</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2"></div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#compsci">
            <div class="overlay-container">
              <img src="/assets/img/home/compsci.jpg" alt="Student coding on computer" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Computer Science</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#math">
            <div class="overlay-container">
              <img src="/assets/img/home/math.jpg" alt="Student solving math problem at whiteboard" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Mathematics</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2"></div>
    
  </div>
</div>
</section>

<section id="residential" class="container">
    <div class="row pt-4 pb-4">
      <div class="col-lg-4 my-auto">
        <img src="/assets/img/academy/residential.jpg" alt="Residential student trip to New Orleans">
      </div>
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0">Experience Collegiate Life</h2>
        <h3 class="home-subheader">Live on LSU's campus.</h3>
        <p class="lead">From taking courses in college classrooms, to walking to class under LSU’s majestic oaks, to living in real LSU residence halls, participants will experience the true collegiate life of an LSU student. After course work concludes for the day, our team of RAs plan diverse social activities designed to create a community of collegiate scholars.</p>
      </div>
    </div>
</section>

<section id="college" class="grey-box">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0">Expand Your Knowledge</h2>
        <h3 class="home-subheader">Be ready for college.</h3>
        <p class="lead">Participants will take tailor-made courses, taught by experts in their field, that provide the foundational knowledge required for their chosen mini-major. Additionally, all participants will prepare for the rigors of university in College 101 and see what their chosen profession is really like in Insights Into the Field.</p>
        <p class="lead"><b>College 101:</b> <i>College 101</i> is a college readiness course that teaches the necessary skills to apply to, prepare for, and succeed in college.</p>
        <p class="lead"><b>Insights Into the Field:</b> In <i>Insights into the Field</i>, students will explore and learn about the current research and career possibilities related to their mini-major through readings, professor talks, and panels of experts in their field. </p>
        <p class="lead">By the time you finish your mini-major experience, you'll be able to answer the question: "Is this what I want to major in?"</p>
      </div>
      <div class="col-lg-4 my-auto">
        <img src="/assets/img/academy/college-readiness.jpg" alt="Student preparing for college" style="padding-bottom:3rem">
        <img src="/assets/img/academy/insights-field.jpg" alt="Teacher giving lecture">
      </div>
    </div>
  </div>
</section>

<div class="space-t-sm space-b- max-w-2xl mx-auto">
  <section class="cards">

    <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/engineering-tall.jpg" alt="Engineering students group photo" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">Mini-Major</p>
          <h3 class="card__title">Engineering</h3>
          <p class="card__text">The Engineering course is designed to introduce the profession, ethics, and diversity of the field of engineering to students. Through interactions with LSU engineering faculty, visits to real engineering labs, and hands-on projects related to 10 primary STEM disciplines, you will get a fully immersive experience into the field of engineering. This experience will help you make informed decisions about future elective choices in high school, guide you to an interesting major in college, and eventually lead you to the career of your dreams! </p>
          <p class="card__text">This course will emphasize technical problem solving, engineering design, ethical decision making, and communicating to diverse audiences. We will explore the following engineering disciplines during the program:​</p>
          <ul class="eng-bullets">
            <li>Biological Engineering</li>
            <li>Civil Engineering</li>
            <li>Chemical Engineering</li>
            <li>Computer Science</li>
            <li>Construction Management</li>
            <li>Electrical Engineering</li>
            <li>Environmental Engineering</li>
            <li>Industrial Engineering</li>
            <li>Mechanical Engineering</li>
            <li>Petroleum Engineering</li>
          </ul>
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="premed" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/prevet-tall.jpg" alt="Students holding goats" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">Mini-Major</p>
          <h3 class="card__title">Pre-Med/Pre-Vet</h3>
          <p class="card__text">The Pre-Med/Pre-Vet mini-major immerses students in the rapidly advancing world of biomedicine, both for humans and for animals, and exposes them to the myriad of careers in biomedicine and veterinary medicine. This mini-major is designed to cultivate the skills and knowledge that will prepare students for collegiate study in pre-med, pre-vet, or other science-related degrees in college. Through careful and intentional exposure to scientific writing, presentations, and hands-on team projects, students build critical scientific literacy skills and mature their oral and written communication skills to prepare them for entry into the 21st century biomedical and veterinary workplace in industry, healthcare, environmental applications, or academia.</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="robotics" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/robotics-tall.jpg" alt="Students working on a robotics project" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">Mini-Major</p>
          <h3 class="card__title">Robotics</h3>
          <p class="card__text">Ever wanted to build your own robot? The Robotics mini-major involves students in the development, building and programming of robots to accomplish various tasks. Students will work hands-on in teams to design, build, program and document their progress. Topics may include motor speed, gear ratios, torque, sensors, program loops, project documentation and decision-making.</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>
    
    <section id="compsci" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/compsci-tall.jpg" alt="Student coding on computer" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">Mini-Major</p>
          <h3 class="card__title">Computer Science</h3>
          <p class="card__text">The Computer Science mini-major is designed to provide high school students with an in-depth intro to the world of computer programming. You will take two courses, intro to programming and cybersecurity, covering the basic concepts, algorithms, and data structures necessary to build real applications with Python, a powerful yet easy-to-learn language. Through a bird’s-eye view of the field of computer science, you will be exposed to a breadth of topics which are ubiquitous in today’s tech industry.</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="math" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/math-tall.jpg" alt="Student solving math problem at whiteboard" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">Mini-Major</p>
          <h3 class="card__title">Mathematics</h3>
          <p class="card__text">The Mathematics mini-major gives you a unique introduction to the complex world of college mathematics and its applications. You will be exposed to a wide variety of topics in the fields of Combinatorics, Number Theory, and more and will gain a solid foundation in university-level mathematics. In addition to rigorous coursework, you will engage in hands-on  activities centered around logic and math and see the many applications of mathematics in other disciplines.</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>
    
  </section>
</div>