<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Applications for REHAMS are now open!</h2>
	        <p class="lead">This is the student application for the 2020 LSU Pre-College REHAMS summer camp. Please fill out the application to the best of your knowledge and be sure to have the permission of your parent/guardian before submitting. NOTE: Early applications will receive notice of their acceptance status by April 24th, 2020.</p>
	        <p class="lead"><b>Early Bird Deadline:</b> April 8th, 2020</p>
	        <p class="lead"><b>Regular Application Deadline:</b> April 30th, 2020</p>
	        <p class="lead"><b>Tuition:</b> $600 Early Bird / $650 Regular</p>
	        <p class="lead"><b>Payments:</b> Payments are not due until after you are accepted.</p>
			<p class="lead"><b>Scholarships:</b> A limited number of financial need scholarships are available.</p>
	        <p class="lead"><b>Contact:</b> Email <a href="mailto:rehams@eng.lsu.edu" target="_blank">rehams@eng.lsu.edu</a> or call (225) 578-5731 with any questions.</p>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 700px">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "6360090",
		formId: "87e6cc44-8027-48af-8415-e9468b51196d"
	});
	</script>
</div>