<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Registrations for Virtual Academy Now Open!</h2>

	      	<h2 class="home-header pt-4" style="padding-bottom:0; font-weight:700">College Prep Courses</h2>
	      	  <h3 class="home-subheader">June 22nd - July 10th | High School | 2-3 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registration Deadline:</b> Friday, May 29th, 2020</h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b> <a class="lead-purple-text" href="/virtual#engineering">Intro to Engineering</a> | <a class="lead-purple-text" href="/virtual#math">Virtual Math Circle</a> | <a class="lead-purple-text" href="/virtual#coding">Programming in Python</a> | <a class="lead-purple-text" href="/virtual#premed">Computational Biology</a></p>
	        <p class="lead"><b>Tuition:</b> $870 for 3 weeks</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> The only College Prep course offering scholarships is the Virtual Math Circle, which will award 3 needs-based, full-tuition scholarships. If you have demonstrated financial need and would like to apply, please fill out the scholarship form at <a href="https://forms.gle/wqkBuTU9zDw11sr17">this link</a>.</p>
	      </div>
	      <div class="col-lg-12 mt-4 mb-2 btn-container">
	        <a href="https://lsuprecollege.formstack.com/forms/lsu_precollege_virtual_academy_registration" class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Click Here to Apply for College Prep Courses</a>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem">
	<div class="row pt-2 pb-4">
	      <div class="col-lg-12 ">
	      	<h2 class="home-header" style="padding-bottom:0; font-weight:700">High School Prep Courses</h2>
	      	  <h3 class="home-subheader">July 13th - 31st | High School | 1-2 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registration Deadline:</b> Friday, June 12th, 2020</h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b> <a class="lead-purple-text" href="/virtual#hs-math">Mathematical Reasoning</a> | <a class="lead-purple-text" href="/virtual#hs-stats">Intro to Statistics</a> | <a class="lead-purple-text" href="/virtual#hs-calc">Foundations of Calculus</a> | <a class="lead-purple-text" href="/virtual#hs-physics">Physics Fundamentals</a> | <a class="lead-purple-text" href="/virtual#hs-chem">Exploration of Chemical Processes</a> | <a class="lead-purple-text" href="/virtual#hs-enviro">Environmental Microbiology</a></p>
	        <p class="lead"><b>Tuition:</b> $670</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> Unfortunately, we are unable to award financial aid or scholarships for High School Prep this summer.</p>
	      </div>
	      <div class="col-lg-12 mt-4 btn-container">
	        <a href="https://lsuprecollege.formstack.com/forms/lsu_precollege_virtual_academy_registration_hs" class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Click Here to Apply for High School Prep Courses</a>
	      </div>
	    </div>
</div>

<section class="grey-box">
 <div class="container" style="padding-top:2rem; padding-bottom: 2rem">
	<div class="row pt-2 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-header" style="padding-bottom:0; font-weight:700">Educational Experiences</h2>
	      	  <h3 class="home-subheader">Dates Vary | Middle and High School | 2-3 hours per day</h3>
	      	  <h3 class="home-subheader"><b>Registration Deadline:</b> Friday, May 29th, 2020</h3>

	        <p class="lead" style="font-size: 1.4rem"><b>Courses Offered:</b> <a class="lead-purple-text" href="/virtual#exploring-stem">Exploring STEM</a> | <a class="lead-purple-text" href="/virtual#xcite">Halliburton Women in Engineering</a> | <a class="lead-purple-text" href="/virtual#rehams">Multicultural Engineering Tigers</a> | <a class="lead-purple-text" href="/virtual#explorecs">Coding Camp</a></p>
	        <p class="lead"><b>Tuition:</b> $175</p>
	        <p class="lead"><b>Payment Deadline:</b> The full tuition amount must be paid on submission of this form; this secures your seat in the Virtual Academy.</p>
			<p class="lead"><b>Scholarships & Finanicial Aid:</b> Halliburton Women in Engineering, Multicultural Engineering Tigers, and Coding Camp offer needs-based tuition scholarships. Check the box in the application if you would like to apply.</p>
	      </div>
	      <div class="col-lg-12 mt-4 mb-2 btn-container">
	        <a href="https://lsuprecollege.formstack.com/forms/lsu_precollege_virtual_experiences_registration" class="btn btn-outline-purple btn-text-extra-large" role="button" target="_blank">Click Here to Apply for Educational Experiences</a>
	      </div>
	    </div>
</div>
</section>