<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Applications for Exploring STEM are now open!</h2>
	        <p class="lead">This is the student application for the 2020 LSU Pre-College Exploring STEM summer camp. Please fill out the application to the best of your knowledge and be sure to have the permission of your parent/guardian before submitting.</p>
	        <p class="lead"><b>Early Bird Deadline:</b> April 8th, 2020</p>
	        <p class="lead"><b>Regular Application Deadline:</b> April 30th, 2020</p>
	        <p class="lead"><b>Tuition:</b> $325 Early Bird / $375 Regular</p>
	        <p class="lead"><b>Payments:</b> Payments are not due until after you are accepted.</p>
	        <p class="lead"><b>Contact:</b> Email <a href="mailto:jhileman1@lsu.edu" target="_blank">jhileman1@lsu.edu</a> with any questions.</p>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 700px">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "6360090",
		formId: "4a42b31a-b6e6-45cb-ab0a-39499fdc2e17"
	});
	</script>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
	window.addEventListener('message', event => {
	   if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
	       callStripe('sku_GfRN8EeKV2YtDp')
	   }
	});
</script>