<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Registrations for Virtual Experiences Now Open!</h2>
	      	<p class="lead"><b>Regular Application Deadline:</b> May 29th, 2020</p>
	      	<p class="lead">This is the student registration for the 2020 LSU Pre-College Virtual Educational Experiences. Please fill out the form to the best of your knowledge and be sure to have the permission of your parent/guardian before submitting. Specific information on each experience is below:</p>

	      	<section class="cards">

	      	  <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
	      	    <article class="h-full border border-black light-background">
	      	      <div class="card__inner">
	      	      	<div class="container" style="padding:0">
	      	      	  <div class="row">
	      	      	  	<div class="col-lg-12">

	      	<p class="card__topic">Educational Experience</p>
	      	<h3 class="card__title">Exploring STEM</h3>
	      	<div class="col-lg-12">
	          	<div class="col-lg-4 btn-container">
        			<p class="lead"><b>Dates:</b> June 15th - 19th</p>
        		</div>
        		<div class="col-lg-4 btn-container">
	        		<p class="lead"><b>Grades:</b> Current 6th - 8th</p>
	        	</div>
	        	<div class="col-lg-4 btn-container">
					<p class="lead"><b>Tuition:</b> $175</p>
				</div>
			</div>
	        <p class="lead"><b>Payments:</b> The full tuition amount must be paid on submission of this form in order to secure your seat.</p>
	        <p class="lead"><b>Contact:</b> Email <a href="mailto:jhileman1@lsu.edu" target="_blank">jhileman1@lsu.edu</a> with any questions.</p>

								    </div>
								</div>
							</div>
						</div>
					</article>
				</section>

	        <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
	      	    <article class="h-full border border-black light-background">
	      	      <div class="card__inner">
	      	      	<div class="container" style="padding:0">
	      	      	  <div class="row">
	      	      	  	<div class="col-lg-12">

	      	<p class="card__topic">Educational Experience</p>
	      	<h3 class="card__title">Engineering Tigers 2020</h3>
	        <div class="col-lg-12">
	          	<div class="col-lg-4 btn-container">
	        		<p class="lead"><b>Dates:</b> July 12th - 17th</p>
	        	</div>
	        	<div class="col-lg-4 btn-container">
	        		<p class="lead"><b>Grades:</b> Current 8th - 11th</p>
	        	</div>
	        	<div class="col-lg-4 btn-container">
	        		<p class="lead"><b>Tuition:</b> $175</p>
	        	</div>
	        </div>
	        <p class="lead"><b>Payments:</b> The full tuition amount must be paid on submission of this form in order to secure your seat. However, scholarships are available, and scholarship applicants are not required to pay the tuition fee when they submit their application.</p>
	        <p class="lead"><b>Scholarships:</b> A limited number of need-based fee reductions are available. To apply, please indicate on the registration below that you would like to apply for a scholarship.</p>
	        <p class="lead"><b>Contact:</b> Email <a href="mailto:rehams@eng.lsu.edu" target="_blank">rehams@eng.lsu.edu</a> or <a href="mailto:xcite@eng.lsu.edu">xcite@eng.lsu.edu</a>, or call (225) 578-5731 with any questions.</p>

									</div>
								</div>
							</div>
						</div>
					</article>
				</section>

	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 900px">
	<iframe class="p-2" src="https://lsuprecollege.formstack.com/forms/lsu_precollege_virtual_experiences_registration" title="LSU Pre-College Virtual Experiences Registration" width="100%" height="3600"></iframe>
</div>