<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-4">
      <div class="col-lg-12 ">
        <p class="lead">Thank you for your interest in LSU Pre-College Summer Programs! Please pick a time below when you're available for a short call. We'll give you all the details about LSU Pre-College and answer any questions that you have.</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
	<div class="row pt-4 pb-5">
		<div class="col-lg-8">
			<div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/sroby/15-minute-meeting?embed=true"></div>
			<script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
		</div>
		<div class="col-lg-4 contact-us-box">
			<p class="lead"><b>Contact Us:</b></p>
			<p><b>Email:</b> <a href="mailto:precollege@lsu.edu" target="_blank">precollege@lsu.edu</a></p>
			<p><b>Mailing Address:</b><br>
				LSU College Readiness Programs<br>
				Gordon A. Cain Center for STEM Literacy<br>
				222 Prescott Hall<br>
				Baton Rouge, LA 70803<br></p>
			<p><b>Prefer to talk over the phone?</b><br>Schedule a call with us using the meetings form on this page!</p>
		</div>
	</div>
</div>