<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
      	<h1 class="home-center">Coronavirus (COVID-19) Information</h1>
        <p class="lead">LSU Pre-College is carefully monitoring developments related to the Novel Coronavirus, also known as COVID-19. We will keep this page updated as new information arises about its potential impacts on LSU and on our summer programs.</p>
      </div>
    </div>
  </div>
</section>

<section class="container">
    <div class="row pt-2 pb-5">
      <div class="col-lg-12">
		<h2 class="home-header" style="padding-bottom:0">Current Program Status</h2>
    	<h3 class="home-subheader">No cancellations</h3>
    	<p class="lead">Currently, all programs are scheduled to take place this summer as planned. We are closely following the issue and working with university administration to ensure the safety and well-being of our participants and the university as a whole.</p>
    	<p class="lead">The most updated information regarding the impact of coronavirus on LSU can be found at <a href="https://www.lsu.edu/coronavirus" target="_blank">www.lsu.edu/coronavirus</a>.</p>
    	<p class="lead">(Last updated: March 13th, 2020)
      </div>
    </div>
</section>