<section class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
      	<h1 class="home-center">LSU Pre-College Summer Academy</h1>
        <p class="lead">The LSU Pre-College Summer Academy is a 3-week residential program designed to offer a true college experience for rising 9th-12th grade students. Participants will explore a major of their interest while expanding their knowledge in their chosen discipline and experiencing collegiate life on LSU’s campus.</p>
        <p class="lead-purple" style="text-decoration:underline"><a class="lead-purple-text" href="/apply">Applications for Summer 2020 Now Open!</a></p>
      </div>
    </div>
</section>

<!-- Summer Academy -->
<section class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-lg-12 ">
      <h2 class="home-header">Mini-Majors</h2>
    </div>
    
      
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#engineering">
            <div class="overlay-container">
              <img src="/assets/img/home/robotics.jpg" alt="Students working on a robotics project" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Engineering</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#compsci">
            <div class="overlay-container">
              <img src="/assets/img/home/compsci.jpg" alt="Student coding on computer" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Computer Science</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#premed">
            <div class="overlay-container">
              <img src="/assets/img/home/prevet.jpg" alt="Students holding goats" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Pre-Med/Pre-Vet</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-lg-12 mt-3 mb-3 btn-container">
        <a href="/academy" class="btn btn-outline-purple" role="button">View More Mini-Majors</a>
      </div>
    
  </div>
</div>
</section>

<!-- Summer Experiences -->
<section class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
        <h1 class="home-center">LSU Summer Experiences</h1>
        <p class="lead">LSU Summer Experiences are 1- to 2-week on-campus experiences for rising 7th-12th grade students. Less rigorous than the Pre-College Summer Academy, these engaging and educational camps give you a head start in your STEM education and help prepare you for an exciting career in multiple fields. The duration and cost associated with each program varies.</p>
      </div>
    </div>
</section>

<section class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-lg-12 ">
      <h2 class="home-header">Experiences</h2>
    </div>
    
      
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/experiences#rehams">
            <div class="overlay-container">
              <img src="/assets/img/home/engineering.jpg" alt="Engineering students group photo" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">REHAMS Engineering</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/experiences#xcite">
            <div class="overlay-container">
              <img src="/assets/img/home/premed.jpg" alt="Three pre-med students study spectroscopy" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">XCITE Engingeering</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/experiences#stem">
            <div class="overlay-container">
              <img src="/assets/img/home/math.jpg" alt="Student solving math problem at whiteboard" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Exploring STEM</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-lg-12 mt-3 mb-3 btn-container">
        <a href="/experiences" class="btn btn-outline-purple" role="button">View More Experiences</a>
      </div>
  </div>
</div>
</section>