<section class="container">
    <div class="row pt-5 pb-4">
      <div class="col-lg-12 ">
      	<h1 class="home-center">LSU Pre-College Virtual Academy</h1>
        <p class="lead">The <b>LSU Pre-College Virtual Academy</b> offers online educational experiences for middle and high school students during the summer. With LSU's Virtual Academy, you'll receive synchronous (live and online) instruction featuring engaging projects and activities, as well as one-on-one and small-group support, in a variety of disciplines.</p>
        <p class="lead-purple" style="text-decoration:underline; padding-top:1rem"><a class="lead-purple-text" href="/apply">Registrations for Summer 2020 Now Open!</a></p>
      </div>
    </div>
</section>

<!-- Summer Academy -->
<section class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-lg-12 ">
      <h2 class="home-header">Virtual Courses</h2>
    </div>
    
      
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card mb-4 box-shadow">
            <a href="/virtual#college-prep">
            <div class="overlay-container">
              <img src="/assets/img/home/robotics.jpg" alt="Students working on a robotics project" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">College Prep Courses</div>
              </div>
            </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card mb-4 box-shadow">
            <a href="/virtual#experiences">
            <div class="overlay-container">
              <img src="/assets/img/home/compsci.jpg" alt="Student coding on computer" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Educational Experiences</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <!--
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/virtual#premed">
            <div class="overlay-container">
              <img src="/assets/img/home/prevet.jpg" alt="Students holding goats" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Pre-Med</div>
              </div>
            </div>
            </a>
          </div>
        </div>
         -->

        <div class="col-lg-12 mt-3 mb-3 btn-container">
        <a href="/virtual" class="btn btn-outline-purple" role="button">View More Virtual Courses</a>
      </div>
    
  </div>
</div>
</section>

<section class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
        <h1 class="home-center">LSU Pre-College Summer Academy</h1>
        <p class="lead">The LSU Pre-College Summer Academy is a 3-week residential program designed to offer a true college experience for rising 9th-12th grade students. Participants will explore a major of their interest while expanding their knowledge in their chosen discipline and experiencing collegiate life on LSU’s campus.</p>        
        <p class="lead"><b>All LSU Pre-College in-person programs for Summer 2020 have been cancelled and replaced by virtual alternatives.</b></p>
      </div>
      <div class="col-lg-12 mt-3 mb-3 btn-container">
        <a href="/virtual" class="btn btn-outline-purple" role="button">View Virtual Courses</a>
      </div>
    </div>
</section>

<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
        <h1 class="home-center">LSU Summer Experiences</h1>
        <p class="lead">LSU Summer Experiences are 1- to 2-week on-campus experiences for rising 7th-12th grade students. Less rigorous than the Pre-College Summer Academy, these engaging and educational camps give you a head start in your STEM education and help prepare you for an exciting career in multiple fields. The duration and cost associated with each program varies.</p>
        <p class="lead"><b>All LSU Pre-College in-person programs for Summer 2020 have been cancelled and replaced by virtual alternatives.</b></p>
      </div>
      <div class="col-lg-12 mt-3 mb-3 btn-container">
        <a href="/virtual" class="btn btn-outline-purple" role="button">View Virtual Courses</a>
      </div>
    </div>
  </div>
</section>