<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
        <p class="lead">LSU Summer Experiences are 1- to 2-week on-campus experiences for rising 7th-12th grade students put on by various LSU departments and supported by grants and sponsors. Less rigorous than the Pre-College Summer Academy, these engaging and educational camps give you a head start in your STEM education and enrich your summer with engaging and educational activities! Our 2020 summer experiences are shown below:</p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="space-t-sm space-b- max-w-2xl mx-auto">
    <section class="cards">

    <section id="rehams" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <a href="/apply-rehams" target="_blank"><img src="/assets/img/experiences/rehams.jpg" alt="Students build a bridge as part of an engineering camp" style="object-fit: cover; float:left;"></a>
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</h2>
          <h2 class="card__title">REHAMS</h2>
          <p style="text-align:justify">The Recruiting into Engineering High-Ability Multicultural Students (REHAMS) camp invites male and female students to campus for the opportunity to explore, create, experiment, build, code, design, and engage in a variety of engineering and college prep activities.</p>
          <p><b>Dates:</b> June 7th - 13th, 2020<br>
            <b>Type:</b> Residential<br>
            <b>Grades:</b> Current 10th - 11th<br>
            <b>GPA Required:</b> 3.0 or greater<br>
            <b>Tuition:</b> $600 Early Bird / $650 Regular<br>
            <b>Contact:</b> <a href="mailto:rehams@eng.lsu.edu" target="_blank">rehams@eng.lsu.edu</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply-rehams" class="btn btn-outline-purple" role="button" target="_blank">View REHAMS Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="xcite" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <a href="/apply-xcite" target="_blank"><img src="/assets/img/experiences/xcite.jpg" alt="Two female students participate in an engineering activity" style="object-fit: cover; float:left"></a>
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">Halliburton XCITE</h2>
          <p style="text-align:justify">The Halliburton eXploration Camp Inspiring Tomorrow’s Engineers (XCITE) gives girls the chance to explore, create, experiment, build, code, design, and compete in a variety of engineering and college preparatory activities. College faculty and students interact with attendees through a number of hands-on workshops and activities.</p>
          <p><b>Dates:</b> July 12th - 18th, 2020<br>
            <b>Type:</b> Residential<br>
            <b>Grades:</b> Current 8th - 11th, Females<br>
            <b>GPA Required:</b> 2.9 or greater<br>
            <b>Tuition:</b> $500 Early Bird / $600 Regular<br>
            <b>Contact:</b> <a href="mailto:xcite@eng.lsu.edu" target="_blank">xcite@eng.lsu.edu</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply-xcite" class="btn btn-outline-purple" role="button" target="_blank">View XCITE Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="exploremiddle" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/exploremiddle.jpg" alt="One student helps another student with his code in a computer lab" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">eXploreCS - Middle School</h2>
          <p style="text-align:justify">In today’s world, computing is everywhere, whether it is in the form of actual computers (laptops or desktops), cell phones, sensors, or many other embedded devices.  Learn how these computing devices work and how they help us solve all kinds of interesting problems through hands-on-experience with hardware and software. You will also explore cutting-edge labs at LSU and meet professors and students working in this exciting area!</p>
          <p><b>Dates:</b> June 22nd - 26th, 2020<br>
            <b>Type:</b> Commuting<br>
            <b>Grades:</b> 7th - 9th<br>
            <b>Tuition:</b> $325 Early Bird / $375 Regular<br>
            <b>Contact:</b> <a href="mailto:alopez@lsu.edu" target="_blank">alopez@lsu.edu</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply-explorecs" class="btn btn-outline-purple" role="button" target="_blank">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="explorehigh" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/explorehigh.jpg" alt="A student codes in front of a computer" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">eXploreCS - High School</h2>
          <p style="text-align:justify">Computer Science is one of the fastest-growing fields in today’s job market - it plays a crucial role in our IT infrastructure, supporting all kinds of applications from engineering to healthcare. In this camp, you will develop problem-solving skills in key programming areas including networks, algorithms, data structures, analytics, visualization, artificial intelligence, robotics, and cybersecurity. You will also explore cutting edge labs and interact with computer science faculty and students.</p>
          <p><b>Dates:</b> June 8th - 12th, 2020<br>
            <b>Type:</b> Commuting<br>
            <b>Grades:</b> 10th - 12th<br>
            <b>Tuition:</b> $325 Early Bird / $375 Regular<br>
            <b>Contact:</b> <a href="mailto:alopez@lsu.edu" target="_blank">alopez@lsu.edu</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply-explorecs" class="btn btn-outline-purple" role="button" target="_blank">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="stem" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/stem.jpg" alt="Three pre-med students study spectroscopy" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <p class="card__topic">College of Engineering</p>
          <h2 class="card__title">Exploring STEM</h2>
          <p style="text-align:justify">Join us this week as we introduce you to a variety of cutting-edge STEM fields. Through field trips and hands-on activities, you will have the opportunity to work in teams to design, build, and present projects.</p>
          <p><b>Dates:</b> June 29th - July 2nd, 2020</p>
          <p><b>Type:</b> Commuting</p>
          <p><b>Grades:</b> 7th - 9th</p>
          <p><b>Tuition:</b> $325 Early Bird / $375 Regular</p>
          <p><b>Contact:</b> <a href="mailto:jhileman1@lsu.edu" target="_blank">jhileman1@lsu.edu</a></p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply-exploringstem" class="btn btn-outline-purple" role="button" target="_blank">View Application</a>
          </div>            
        </div>
      </article>
    </section>

	</section>
  </div>
</section>