<section class="container">
    <div class="row pt-4 pb-4">
      <div class="col-lg-12 ">
        <h1 class="home-center">Unleash your education through LSU.</h1>
        <h2 class="lead" style="text-align:center; font-size:2rem"><b>Virtual Programs through LSU in June and July</b></h2>
        <p class="lead" style="text-align:center; font-size: 1.5rem"><b>Registration Deadline:</b> Friday, May 15th, 2020</p>
        <p class="lead mx-auto" style="max-width:700px">The LSU Pre-College Virtual Academy offers online educational experiences for middle and high school students during the summer. With LSU's Virtual Academy, you'll receive synchronous (live and online) instruction featuring engaging projects and activities, as well as one-on-one and small-group support, in a variety of disciplines.</p>
        </div>
    </div>
</section>

<section id="college-prep" class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">College Prep Courses</h2>
        <h3 class="home-subheader">3 weeks | High School | 2-3 hours per day</h3>
        <p class="lead">Our College Prep courses are designed to provide high school students with an introduction to a college course. These courses are taught by experts in their field, and participants learn through interactive lessons that include lectures, activities, and projects. All College Prep courses feature the following:</p>
        <ul class="lead" style="padding-left:0.5rem;text-align:left">
          <li>Projects and activities for participants to complete individually and in groups</li>
          <li>3 consecutive hours of structured learning time Monday-Friday, in either the morning or afternoon</li>
          <li style="list-style-type:none">
            <ul class="lead" style="text-align:left">
              <li>2 hours of live virtual class with an instructor and teaching assistant</li>
              <li>1 hour of one-on-one or small group support with an instructor and teaching assistant</li>
            </ul>
          </li>
          <li>A mailed learning kit containing supplies for the course and an LSU t-shirt</li>
        </ul>
        <p class="lead">Our College Prep course offerings are listed below:</p>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/academy/college-readiness.jpg" alt="Student preparing for college" style="padding-bottom:3rem">
        <img src="/assets/img/academy/insights-field.jpg" alt="Teacher giving lecture">
      </div>
    </div>

  <section class="cards">

    <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Intro to Engineering</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Morning Session (10AM-1PM)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
      <div>
        <a data-toggle="collapse" href="#collapse-college-eng" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
        <div id="collapse-college-eng" class="collapse">
                <p class="card__body">Intro to Engineering will introduce you to the profession, ethics, and diversity of the field of engineering. You will receive a mailed learning kit of supplies for 9 hands-on projects relating to 10 different fields of engineering. Throughout the course, you will interact virtually with an instructor, teaching assistants, and your peers to learn about each discipline and work on projects. This experience will allow you to explore the differences between each engineering discipline and help you make more informed decisions about future elective choices in high school and selecting your college major.</p>   
              </div>
            </div>     
        </div>
      </article>
    </section>

    <section id="math" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Math Circle: Conducting Mathematical Research</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Morning Session (10AM-1PM)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-college-math" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-college-math" class="collapse">
              <p class="card__body">The Virtual Math Circle is a collaborative effort between Emory University’s Department of Quantitative Theory and Methods and the LSU Mathematics Department, designed to provide high school students with the opportunity to conduct mathematical research with guidance from professors and graduate students. Over the course of the program, students will participate in daily mathematical talks covering a variety of topics and work with their research groups to complete a math capstone project.</p>  
            </div>
          </div>        
        </div>
      </article>
    </section>

    <section id="coding" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Programming in Python</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon Session (2PM-5PM)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-college-coding" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-college-coding" class="collapse">
              <p class="card__body">The Programming in Python course is designed to provide high school students with an in-depth intro to the world of computer programming. You will cover the basic concepts, algorithms, and data structures necessary to build real applications with Python, a powerful yet easy-to-learn language. Through a bird’s-eye view of the field of computer science, you will be exposed to a breadth of topics which are ubiquitous in today’s tech industry.</p>
            </div>
          </div>
        </div>
      </article>
    </section>

    <section id="premed" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Pre-Med: Infectious Diseases</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon Session (2PM-5PM)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-college-premed" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-college-premed" class="collapse">
              <p class="card__body">Course description coming soon!</p>
            </div>
          </div>          
        </div>
      </article>
    </section>
    
  </section>
    
        
    
  </div>
</div>
</section>

<section class="container">
    <div class="row pt-4 pb-4">
	  <div class="col-lg-6 mt-4 mb-4 btn-container">
	    <a href="/virtual" class="btn btn-outline-purple" role="button" style="font-size:2rem" id="learn-more">Learn More</a>
	  </div>
      <div class="col-lg-6 mt-4 mb-4 btn-container">
        <a href="/apply" class="btn btn-outline-purple" role="button" style="font-size:2rem" id="apply-now">Apply Now!</a>
      </div>
    </div>
</section>