<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Thank you for your application!</h2>
	        <p class="lead">Thank you for submitting your application to LSU Pre-College! We will contact you soon with next steps. In the meantime, please email our support team at <a href="mailto:precollege@lsu.edu">precollege@lsu.edu</a> with any questions or concerns.</p>
	      </div>
	    </div>
	</div>
</section>