<div class="form-background">
  <div class="container">
    <div class="form-container">

        <!-- HubSpot Form -->
        <div class="hubspot-form">
            <!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script> -->
            <div class="mb-3 font-bold" style="line-height: 2.2rem">
                Discover Your Passion at LSU Pre-College
            </div>
            <!-- <script>
              hbspt.forms.create({
                portalId: "6360090",
                formId: "3017a125-7db1-4f32-a54b-e96e49db9209"
            });
            </script> -->
        </div>

    </div>
  </div>
</div>