<div class="navContainer">
    <nav class='headerNav max-w-2xl mx-auto'>

    <div id="mobile-nav" class="mobile-nav md:hidden">
        <ul class="list-reset mb-0 mt-0">

        <li>
            <a href="/">Home</a>
        </li>

        <a href="/courses">Course Offerings</a>
        <ul>
            <li><a href="/courses/tuition"><span>Tuition and Dates</span></a></li>
            <li><a href="/courses"><span>Full Course List</span></a></li>
        </ul>

        <a href="/virtual">Virtual Courses</a>
            <ul>
                <li><a href="/courses#math-circle"><span>Math Research Online Course</span></a></li>
                <!-- <li><a href="/virtual#experiences"><span>Virtual Experiences</span></a></li> -->
                <li><a href="/virtual/tech"><span>Tech Requirements</span></a></li>
            </ul>

        <a href="/academy">On-Campus Courses</a>
        <ul>
            <li><a href="/academy#academy"><span>Summer Academy</span></a></li>
            <li><a href="/academy#experiences"><span>Summer Experiences</span></a></li>
        </ul>

        <li>
            <a href="/employment">Employment</a>
        </li>

        <li>
            <a href="/contact">Contact Us</a>
        </li>

        </ul>
    </div>

   <!--Desktop Nav-->
    <ul class="list-reset mb-0 mt-0">

        <li>
            <a href="/">Home</a>
        </li>

        <li class="dropdown">
        <a href="/courses">Course Offerings</a>
            <ul>
                <li><a href="/courses/tuition"><span>Tuition, Dates, and Policies</span></a></li>
            </ul>
        </li>

        <!-- <li class="dropdown">
        <a href="/virtual">Virtual Programs</a>
            <ul>
                <li><a href="/virtual#academy"><span>Virtual Academy</span></a></li>
                <li><a href="/virtual#experiences"><span>Virtual Experiences</span></a></li>
                <li><a href="/virtual/tech"><span>Technology Requirements</span></a></li>
                <li><a href="/courses/tuition"><span>Tuition, Dates, and Policies</span></a></li>
            </ul>
        </li> -->

        <li class="dropdown">
        <a href="/academy">Programs</a>
            <ul>
                <li><a href="/academy#academy"><span>Summer Academy</span></a></li>
                <li><a href="/academy#experiences"><span>Summer Experiences</span></a></li>
                <li><a href="/courses#math-circle"><span>Math Research Online Course</span></a></li>
                <li><a href="/courses/tuition"><span>Tuition, Dates, and Policies</span></a></li>
            </ul>
        </li>

        <li>
            <a href="/employment">Employment</a>
        </li>

        <li>
            <a href="/contact">Contact Us</a>
        </li>

        </ul>

    <div class="flex py-4 justify-between text-center md:hidden">
                <a href="/apply" class="btn btn--focused btn--gold btn--rounded-none mr-4">Apply Now</a>
        <a href="/request-info" class="btn btn--focused btn--gold btn--rounded-none">Request Info</a>

    </div>
    </nav>
</div>
