  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#fff",
      },
      "button": {
        "background": "#f1d600"
      }
    },
    "position": "bottom-left",
    "theme": "classic",
    "content": {
      "message": "This website uses cookies to ensure site visitors get the best experience on our website. By continuing to use this site, you accept our use of cookies and Privacy Statement. To learn more, please visit ",
      "dismiss": "Got it",
      "link": "LSU Privacy Statement.",
      "href": "https://lsu.edu/privacy/"
    }
  })});
  </script>