<!--Footer-->
<div class="footer-lsu text-center">
  <img src="https://lsuonline-static.s3.amazonaws.com/static/img/logo-lsu-gold0.png" alt="LSU logo">
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 footer-container">
        <div class="footer-column-1">
          <p>
          <a href="https://www.lsu.edu/accessibility/" target="_blank">Accessibility Statement</a><br>
          <a href="https://www.lsu.edu/privacy/" target="_blank">Privacy Statement</a><br />
          <a href="/policies-and-accreditations/">Policies and Accreditations</a><br>
          <a href="/student-complaints/">Student Complaints</a><br>
          <a href="/educator-licensure/">Educator Licensure</a><br>
          <a href="mailto:webdev@outreach.lsu.edu">Website Feedback</a>
        </p>
        </div>
        <div class="footer-column-2">
          <h3>FOLLOW US</h3>
          <a href="https://www.facebook.com/lsuonline/" target="_blank"><img src="https://lsuonline-static.s3.amazonaws.com/static/icons/icon-fb.png" alt="Follow us on Facebook" class="social-icon social-icon-pad"></a>
          <a href="https://twitter.com/LSUOnline" target="_blank"><img src="https://lsuonline-static.s3.amazonaws.com/static/icons/icon-tw.png" alt="Follow us on Twitter" class="social-icon social-icon-pad"></a>
          <a href="https://www.instagram.com/lsuonline/" target="_blank"><img src="https://lsuonline-static.s3.amazonaws.com/static/icons/icon-ig.png" alt="Follow us on Instagram" class="social-icon social-icon-pad"></a>
          <a href="https://www.linkedin.com/company/lsu-continuing-education/" target="_blank"><img src="https://lsuonline-static.s3.amazonaws.com/static/icons/icon-li.png" alt="Follow us on Linkedin" class="social-icon social-icon-pad"></a>
          <a href="https://www.youtube.com/channel/UCBxuMuqT8VEQlFN9LfR7pag?view_as=subscriber" target="_blank"><img src="https://lsuonline-static.s3.amazonaws.com/static/icons/icon-yt.png" alt="Follow us on YouTube" class="social-icon"></a>
          <div class="hashtag">
            <em>#LSUPreCollege</em>
          </div>
        </div>
        <div class="footer-column-3">
          <p><b>LSU Pre-College</b><br>
            214 Prescott Hall<br>
            Baton Rouge, LA 70803<br>
            Phone: 225-771-9014<br>
            Fax: 225-578-XXXX<br>
            <a href="mailto:lsuonline@lsu.edu">lsuonline@lsu.edu</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2019 All rights reserved </p>
      </div>
    </div>
  </div>

</footer>