<section class="container">
    <div class="row pt-4 pb-5">
      <div class="col-lg-12 ">
        <p class="home-center">June 7th - 27th, 2020</p>
        <p class="lead">Each student in the Summer Academy chooses a "mini-major" to explore throughout the 3-week program. Click on the disciplines below to learn more about each mini-major!</p>
      </div>
    </div>
</section>

<section class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-lg-12 ">
      <p class="home-header">Mini-Majors</p>
    </div>
    
      
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#engineering">
            <div class="overlay-container">
              <img src="/assets/img/home/engineering.jpg" alt="Engineering students group photo" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Intro to Engineering</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#premed">
            <div class="overlay-container">
              <img src="/assets/img/home/premed.jpg" alt="Three pre-med students study spectroscopy" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Pre-Med</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#prevet">
            <div class="overlay-container">
              <img src="/assets/img/home/prevet.jpg" alt="Students holding goats" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Pre-Vet</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#robotics">
            <div class="overlay-container">
              <img src="/assets/img/home/robotics.jpg" alt="Students working on a robotics project" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Robotics</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#compsci">
            <div class="overlay-container">
              <img src="/assets/img/home/compsci.jpg" alt="Student coding on computer" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Computer Science</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 box-shadow">
            <a href="/academy#math">
            <div class="overlay-container">
              <img src="/assets/img/home/math.jpg" alt="Student solving math problem at whiteboard" class="overlay-image" style="width:100%">
              <div class="overlay-middle">
                <div class="overlay-text">Mathematics</div>
              </div>
            </div>
            </a>
          </div>
        </div>
    
  </div>
</div>
</section>

<div class="space-t-sm space-b- max-w-2xl mx-auto">
  <section class="cards">

    <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/engineering-tall.jpg" alt="Engineering students group photo" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Intro to Engineering</h1>
          <p>The Introduction to Engineering course is designed to introduce the profession, ethics, and diversity of the field of engineering to students. Through interactions with LSU engineering faculty, visits to real engineering labs, and hands-on projects related to 10 primary STEM disciplines, you will get a fully immersive experience into the field of engineering. This experience will help you make informed decisions about future elective choices in high school, guide you to an interesting major in college, and eventually lead you to the career of your dreams! </p>
          <p>This course will emphasize technical problem solving, engineering design, ethical decision making, and communicating to diverse audiences. We will explore the following engineering disciplines during the program:​</p>
          <ul class="eng-bullets">
            <li>Biological Engineering</li>
            <li>Civil Engineering</li>
            <li>Chemical Engineering</li>
            <li>Computer Science</li>
            <li>Construction Management</li>
            <li>Electrical Engineering</li>
            <li>Environmental Engineering</li>
            <li>Industrial Engineering</li>
            <li>Mechanical Engineering</li>
            <li>Petroleum Engineering</li>
          </ul>
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="premed" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/premed-tall.jpg" alt="Three pre-med students study spectroscopy" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Pre-Med</h1>
          <p>More info coming soon!</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="prevet" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/prevet-tall.jpg" alt="Students holding goats" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Pre-Vet</h1>
          <p>More info coming soon!</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="robotics" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/robotics-tall.jpg" alt="Students working on a robotics project" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Robotics</h1>
          <p>More info coming soon!</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>
    
    <section id="compsci" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/compsci-tall.jpg" alt="Student coding on computer" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Computer Science</h1>
          <p>More info coming soon!</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="math" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-grey-light">
        <div class="sm:w-1/2">
          <img src="/assets/img/academy/math-tall.jpg" alt="Student solving math problem at whiteboard" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Mini-Major</h4>
          <h1 class="card__title">Mathematics</h1>
          <p>More info coming soon!</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>
    
  </section>
</div>