<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Applications are now open!</h2>
	        <p class="lead">This is the student application for the 2020 LSU Pre-College summer program. Please fill out the application to the best of your knowledge and be sure to have the permission of your parent/guardian before submitting.</p>
	      </div>
	    </div>
	</div>
</section>

<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 600px">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "6360090",
		formId: "151b2d56-6981-4794-adbb-6d937c682500"
	});
	</script>
</div>