<section class="grey-box">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-12 ">
        <p class="lead">LSU Summer Experiences are 1- to 2-week on-campus experiences for rising 7th-12th grade students. Less rigorous than the Pre-College Summer Academy, these engaging and educational camps give you a head start in your STEM education and help prepare you for an exciting career in multiple fields. Our 2020 summer experiences are shown below:</p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="space-t-sm space-b- max-w-2xl mx-auto">
    <section class="cards">

    <section id="rehams" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/rehams.jpg" alt="Students build a bridge as part of an engineering camp" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Summer Experience</h4>
          <h1 class="card__title">REHAMS (Grades 10-12)</h1>
          <p>The Recruiting into Engineering High-Ability Multicultural Students camp invites male and female students to campus for the opportunity to explore, create, experiment, build, code, design, and engage in a variety of engineering and college prep activities.</p>
          <p><b>Dates:</b> June 7th - 13th, 2020</p>
          <p><b>Tuition:</b> TBD</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="xcite" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/xcite.jpg" alt="Two female students participate in an engineering activity" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Summer Experience</h4>
          <h1 class="card__title">Halliburton XCITE (Females, Grades 9-11)</h1>
          <p>The Halliburton eXploration Camp Inspiring Tomorrow’s Engineers invites female students to campus for the opportunity to explore, create, experiment, build, code, design, and engage in a variety of engineering and college prep activities.</p>
          <p><b>Dates:</b> June 12th - 18th, 2020</p>
          <p><b>Tuition:</b> TBD</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="stem" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/stem.jpg" alt="Three pre-med students study spectroscopy" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Summer Experience</h4>
          <h1 class="card__title">Exploring STEM (Grades 7-9)</h1>
          <p>Join us this week as we introduce you to a variety of cutting-edge STEM fields. Through field trips and hands-on activities, you will have the opportunity to work in teams to design, build, and present projects.</p>
          <p><b>Dates:</b> June 29th - July 2nd, 2020</p>
          <p><b>Tuition:</b> TBD</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="exploremiddle" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/exploremiddle.jpg" alt="One student helps another student with his code in a computer lab" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Summer Experience</h4>
          <h1 class="card__title">eXplore CS (Grades 7-9)</h1>
          <p>Learn how computing devices work and how they help us solve all kinds of interesting problems through hands-on experience with software. You will also explore cutting edge labs at LSU and meet professors and students working in this exciting area.</p>
          <p><b>Dates:</b> June 22nd - 26th, 2020</p>
          <p><b>Tuition:</b> TBD</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

    <section id="explorehigh" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border-2">
        <div class="sm:w-1/2">
          <img src="/assets/img/experiences/explorehigh.jpg" alt="A student codes in front of a computer" style="object-fit: cover; float:left">
        </div>
        <div class="card__inner">
          <h4 class="card__topic">Summer Experience</h4>
          <h1 class="card__title">eXplore CS (Grades 10-12)</h1>
          <p>In this camp, you will develop problem-solving skills in programming and learn key concepts in major areas of computer science (such as technology systems, networks, algorithms, data structures, data analytics, visualization, artificial intelligence, robotics, and cybersecurity.</p>
          <p><b>Dates:</b> June 8th - 12th, 2020</p>
          <p><b>Tuition:</b> TBD</p>
          
          <div class="mt-2 mb-2 btn-container">
            <a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          </div>            
        </div>
      </article>
    </section>

	</section>
  </div>
</section>