<!--Footer-->
<div class="footer-lsu text-center">
  <img src="/assets/img/lsu_gold.png" alt="LSU logo">
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 footer-container">
        <div class="footer-column-1">
          <p><b>Louisiana State University</b><br>
            Baton Rouge, LA 70803<br>
            <br>
          <a href="https://www.lsu.edu/accessibility/" target="_blank">Accessibility Statement</a><br>
          <a href="https://www.lsu.edu/privacy/" target="_blank">Privacy Statement</a><br />
        </p>
        </div>
        <div class="footer-column-2">
          {{ if url == "/summer" }}
            <div class="hashtag">
              <em>#LSUPreCollege</em>
            </div>
          {{ else }}
            <a href="https://www.facebook.com/lsuprecollegeprogram/" target="_blank"><img src="/assets/img/icons/icon-fb.png" alt="Follow us on Facebook" class="social-icon social-icon-pad"></a>
            <a href="https://www.instagram.com/precollegelsu/" target="_blank"><img src="/assets/img/icons/icon-ig.png" alt="Follow us on Instagram" class="social-icon social-icon-pad"></a>
            <div class="hashtag">
              <em>#LSUPreCollege</em>
            </div>
          {{ /if }}
        </div>
        <div class="footer-column-3">
          {{ if url == "/summer" }}
            <p><b>LSU College Readiness Programs</b><br>
              Gordon A. Cain Center for STEM Literacy<br>
              222 Prescott Hall<br>
              Baton Rouge, LA 70803<br></p>
          {{ else }}
            <p><b>LSU College Readiness Programs</b><br>
              Gordon A. Cain Center for STEM Literacy<br>
              222 Prescott Hall<br>
              Baton Rouge, LA 70803<br>
              Phone: 225-578-4606<br>
              <a href="mailto:precollege@lsu.edu" target="_blank">precollege@lsu.edu</a></p>
          {{ /if }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2020 All rights reserved </p>
      </div>
    </div>
  </div>

</footer>