<div id="lsu">
    <header class="siteHeader filter"  style="background: #3c1053 url('/assets/img/headerBackgrounds{{ url }}/background.jpg'); background-position: 54% 44%; background-repeat: no-repeat;" >


    <div class="flex p-4 items-center md:hidden relative z-50 justify-end">
        <div class="logo1" style="width: 300px">
            <img src="/assets/img/lsu_precollege_white.png" alt="LSU logo"/>
        </div>
        <button class="hamburger hamburger--collapse fadeIn slow" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>       
    </div>

    <div class="max-w-2xl mx-auto hidden md:flex md:justify-between items-end mt-4 mb-4 px-4 relative filter__top">
        <div class="lsuLogo">
            <img style="height:2.5rem" src="/assets/img/lsu_precollege_white.png" alt="LSU logo"/>
        </div>

    </div>

    {{ partial:summerLandingForm }}

    <div class="summerLandingHeader">
        <section class="siteHeader__image-content px-4 max-w-2xl mx-auto align-bottom" style="text-align: center; padding-top:40vh; max-width:800px">
          <h1 class="text-3xl sm:text-5xl md:text-6xl text-shadow">This Summer, Experience College Life at LSU.</h1>
        </section>
    </div>

    <div class="filter__greyFilter"></div>
    <div class="filter__gradientFilterX"></div>

</header>
</div>