<div id="lsu">
    <header class="siteHeader filter"  style="background: #3c1053 url('/assets/img/headerBackgrounds{{ url }}/background.jpg'); background-position: 35% 44%; background-repeat: no-repeat" >


    <div class="flex p-4 items-center md:hidden relative z-50">
        <div class="logo1" style="width: 300px">
            <img src="/assets/img/lsu_precollege_white.png" alt="LSU logo"/>
        </div>    
    </div>

    <div class="max-w-2xl mx-auto hidden md:flex md:justify-between items-end mt-4 mb-4 px-4 relative filter__top">
        <div class="lsuLogo">
            <img style="height:2.5rem" src="/assets/img/lsu_precollege_white.png" alt="LSU logo"/>
        </div>

    </div>

    <section class="siteHeader__image-content px-4 max-w-2xl mx-auto" style='padding-bottom:1rem'>
      <h1 class="text-6xl sm:text-6xl md:text-6xl text-shadow text-center" style="font-weight:600"><span class="fierce">FIERCE</span> for the Summer</h1>
    </section>

    <div class="filter__greyFilter"></div>
    <div class="filter__gradientFilterX"></div>

</header>
</div>