<div class="navContainer">
    <nav class='headerNav max-w-2xl mx-auto'>

    <div id="mobile-nav" class="mobile-nav md:hidden">
        <ul class="list-reset mb-0 mt-0">
        <a href="/academy">Summer Academy</a>
                <ul>
                    <li><a href="/academy/tuition"><span>Academy Tuition</span></a></li>
                </ul>

        <li >
        <a href="/experiences">Summer Experiences</a>
            </li>

        <li >
        <a href="/contact">Contact Us</a>
            </li>
    
        </ul>
    </div>     

   <!--Desktop Nav-->
    <ul class="list-reset mb-0 mt-0">
        <!--<li class="dropdown">
        <a href="/academy">Mini-Majors</a>
                <ul>
                        <li><a href="/academy/engineering"><span>Engineering</span></a></li>
            
        </ul>
            </li>-->
        <li class="dropdown">
        <a href="/academy">Summer Academy</a>
            <ul>
                <li><a href="/academy/tuition"><span>Academy Tuition</span></a></li>            
            </ul>
        </li>

        <li >
        <a href="/experiences">Summer Experiences</a>
            </li>

        <li >
        <a href="/contact">Contact Us</a>
            </li>
    
        </ul>

    <div class="flex py-4 justify-between text-center md:hidden">
                <a href="/apply" class="btn btn--focused btn--gold btn--rounded-none mr-4">Apply Now</a>
        <a href="/request-info" class="btn btn--focused btn--gold btn--rounded-none">Request Info</a>
        
    </div>
    </nav>
</div>