<section id="college-prep" class="grey-box">
<div class="container">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">College Prep Courses</h2>
      	<h3 class="home-subheader">June 22nd - July 10th | High School | 2-3 hours per day</h3>
      	<h3 class="home-subheader"><b>Registration Deadline:</b> Friday, May 29th, 2020</h3>
      	<p class="lead">Our College Prep courses are designed to provide high school students with an introduction to a college course. These courses are <b>taught by experts</b> in their field, and participants learn through <b>interactive lessons</b> that include lectures, activities, and projects. All College Prep courses feature the following:</p>
      	<ul class="lead" style="padding-left:0.5rem;text-align:left">
      		<li><b>Projects and activities</b> for participants to complete individually and in groups</li>
      		<li><b>3 consecutive hours</b> of structured learning time Monday-Friday, in either the morning or afternoon</li>
      		<li style="list-style-type:none">
      			<ul class="lead" style="text-align:left">
  	    			<li>2 hours of live virtual class with an instructor and teaching assistant</li>
  	    			<li>1 hour of one-on-one or small group support with an instructor and teaching assistant</li>
  	    		</ul>
      		</li>
      		<li>A <b>mailed learning kit</b> containing supplies for the course and an LSU t-shirt</li>
      	</ul>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/academy/college-readiness.jpg" alt="Student preparing for college" style="padding-bottom:3rem">
        <img src="/assets/img/academy/insights-field.jpg" alt="Teacher giving lecture">
      </div>
    </div>

  <section class="cards">

    <section id="engineering" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
        	<div class="container" style="padding:0">
        	  <div class="row">
        	  	<div class="col-lg-12">
	          	  	<div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
		          		<p class="card__topic">College Prep Course</p>
          				<h3 class="card__title">Intro to Engineering</h3>
		      		</div>
		         	<div class="col-lg-4 btn-container">
						<a href="/apply" class="btn btn-outline-purple btn-text-large btn-text-large m-2" role="button">Apply Now</a>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
          	<div class="container" style="padding:0">
	          <div class="row">
	          	<div class="col-lg-12">
	          	  	<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
		      		</div>
		      		<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Time:</b> Morning (10AM-1PM CST)</p>
		         	</div>
		         	<div class="col-lg-4 btn-container">
						<p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
			<div>
			  <a data-toggle="collapse" href="#collapse-college-eng" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			  <div id="collapse-college-eng" class="collapse">
         	<p class="card__body">
            <b>For Careers in:</b> All Engineering Disciplines<br><br>
            In partnership with the LSU College of Engineering, <i>Intro to Engineering</i> will introduce you to the profession, ethics, and diversity of the field of engineering. You will receive a mailed learning kit of supplies for 15 hands-on projects relating to 10 different fields of engineering. Throughout the course, you will interact virtually with an instructor, teaching assistants, and your peers to learn about each discipline and work on projects. This experience will allow you to explore the differences between each engineering discipline and help you make more informed decisions about future elective choices in high school and selecting your college major.</p>   
    	  </div>
    	</div>     
        </div>
      </article>
    </section>

    <section id="math" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
        	<div class="container" style="padding:0">
        	  <div class="row">
        	  	<div class="col-lg-12">
	          	  	<div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
		          		<p class="card__topic">College Prep Course</p>
          				<h3 class="card__title">Math Circle: Conducting Mathematical Research</h3>
		      		</div>
		         	<div class="col-lg-4 btn-container">
						<a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
          	<div class="container" style="padding:0">
	          <div class="row">
	          	<div class="col-lg-12">
	          	  	<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
		      		</div>
		      		<div class="col-lg-4 btn-container">
		          		<p class="card__text"><b>Time:</b> Morning (10AM-1PM CST)</p>
		         	</div>
		         	<div class="col-lg-4 btn-container">
						<p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
		         	</div>
	          	</div>
	      	  </div>
      		</div>
      	  <div>
			<a data-toggle="collapse" href="#collapse-college-math" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			<div id="collapse-college-math" class="collapse">
              <p class="card__body">
              <b>For Careers in:</b> Mathematics, Statistics, Finance<br><br>
              <i>Virtual Math Circle</i> is a collaborative effort between Emory University’s Department of Quantitative Theory and Methods and the LSU Mathematics Department, designed to provide high school students with the opportunity to conduct mathematical research with guidance from professors and graduate students. Over the course of the program, students will participate in daily mathematical talks covering a variety of topics and work with their research groups to conduct mathematical research. Students will receive a digital drawing tablet and pen so they are able to work on math collaboratively over a digital whiteboard. By the end of the program, students will have a completed mathematical research poster.</p>  
            </div>
          </div>        
        </div>
      </article>
    </section>

    <section id="coding" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Programming in Python</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon (2PM-5PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
			<a data-toggle="collapse" href="#collapse-college-coding" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			<div id="collapse-college-coding" class="collapse">
          	  <p class="card__body">
              <b>For Careers in:</b> Computer Science, Machine Learning, Scientific Research<br><br>
              <i>Programming in Python</i> is designed to provide high school students with an in-depth intro to the world of computer programming. You will cover the basic concepts, algorithms, and data structures necessary to build real applications with Python, a powerful yet easy-to-learn language. Through a bird’s-eye view of the field of computer science, you will be exposed to a breadth of topics which are ubiquitous in today’s tech industry.</p>
          	</div>
          </div>
        </div>
      </article>
    </section>

    <section id="premed" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">College Prep Course</p>
                  <h3 class="card__title">Computational Biology</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> June 22nd - July 10th</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon (2PM-5PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $870 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
			<a data-toggle="collapse" href="#collapse-college-premed" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
			<div id="collapse-college-premed" class="collapse">
          	  <p class="card__body">
              <b>For Careers in:</b> Medicine, Biology, Computer Science<br><br>
              The objective of <i>Computational Biology</i> is to introduce bioinformatics to high school students with an emphasis on searching and retrieving biological data, sorting the data and finally analyzing the sorted data to draw meaningful conclusions. While maintaining the theme of the central dogma of molecular biology, this project-based course will involve hands-on activities on computers/laptops and will teach students how to relate the outcome of each activity to a real-life medical or biological scenario. Students’ progress will be assessed throughout the course by several engaging activities and formative assessments such as activity reports. While moving through this course, students will be introduced to some pre-existing cutting-edge bioinformatics resources and tools. This introduction to computational biology will enhance students' enthusiasm towards the subject and open an avenue for them to explore a career in medicine or bioinformatics.</p>
          	</div>
          </div>          
        </div>
      </article>
    </section>
    
  </section>
    
        
    
  </div>
</div>
</section>


<div class="container" id="high-school">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">High School Prep Courses</h2>
        <h3 class="home-subheader">July 13th - 31st | High School | 1-2 hours per day</h3>
        <h3 class="home-subheader"><b>Registration Deadline:</b> Friday, June 12th, 2020</h3>
        <p class="lead">Our High School Prep courses are designed to prepare students for their high school classes in the fall. These courses are taught by expert secondary educators, and participants will <b>cement their foundational knowledge</b> through interactive lessons that include lectures, activities, and projects. All High School Prep courses feature the following:</p>
        <ul class="lead" style="padding-left:0.5rem;text-align:left">
          <li><b>Projects and activities</b> for participants to complete individually and in groups</li>
          <li><b>2 consecutive hours</b> of structured learning time Monday-Friday, in either the morning or afternoon</li>
          <li style="list-style-type:none">
            <ul class="lead" style="text-align:left">
              <li>1 hour of live virtual class with an instructor and teaching assistant</li>
              <li>1 hour of one-on-one or small group support with an instructor and teaching assistant</li>
            </ul>
          </li>
          <li>A <b>mailed learning kit</b> containing supplies for the course and an LSU t-shirt</li>
        </ul>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/home/premed.jpg" alt="Student preparing for college" style="padding-bottom:3rem">
        <img src="/assets/img/academy/math-tall.jpg" alt="Teacher giving lecture">
      </div>
    </div>

  <section class="cards">

    <section id="hs-math" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Mathematical Reasoning</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Morning (10AM-12PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-math" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-math" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> Algebra 1, Geometry, Algebra 2, Precalculus
<br><br>
              <i>Mathematical Reasoning</i> is a course designed to provide students with the foundational skills and conceptual understanding necessary to succeed in their high school math courses. In addition to reviewing fundamental math concepts and strengthening their math skills, students will also develop their conceptual understanding and acquire varied strategies for solving problems. Topics will include geometric and algebraic concepts students will encounter in their upcoming math courses, and lessons will incorporate interactive and hands-on activities. As part of their learning kit, students will receive a digital drawing tablet and pen so they are able to work on math collaboratively over a digital whiteboard.</p>
            </div>
          </div>          
        </div>
      </article>
    </section>

    <section id="hs-stats" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Intro to Statistics</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Morning (10AM-12PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-stats" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-stats" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> AP Statistics, High School Statistics<br><br>
              <i>Intro to Statistics</i> is a course designed to prepare students for AP Statistics in the fall. Through hands-on and interactive lessons, students will learn the major concepts and tools for collecting, analyzing, and drawing conclusions from data. The course will cover four major themes:</p>
              <ol class="card__body">
                <li><b>Exploring Data:</b> Describing patterns and departures from patterns
                <li><b>Sampling and Experimentation:</b> Planning and conducting a study
                <li><b>Anticipating Patterns:</b> Exploring random phenomena using probability and simulation
                <li><b>Statistical Inference:</b> Estimating population parameters and testing hypotheses
              </ol>
              <p class="card__body">As part of their learning kit, students will receive a digital drawing tablet and pen so they are able to work on math collaboratively over a digital whiteboard.</p>
            </div>
          </div>           
        </div>
      </article>
    </section>

    <section id="hs-calc" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Foundations of Calculus</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Morning (10AM-12PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-calc" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-calc" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> AP Calculus AB, High School Calculus<br><br>
              <i>Foundations of Calculus</i> is designed to prepare students for taking calculus in the fall. This course will focus on developing students’ mathematical reasoning, problem-solving skills, and study habits while covering math concepts foundational to understanding and doing calculus. Students will review important prerequisites and strengthen their math skills while exploring calculus concepts. As part of their learning kit, students will receive a digital drawing tablet and pen so they are able to work on math collaboratively over a digital whiteboard. Students who participate in this course will be ready to ace their calculus class in the upcoming year - whether it be AP Calculus AB or high school calculus!</p>
            </div>
          </div>           
        </div>
      </article>
    </section>

    <section id="hs-physics" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Physics Fundamentals</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon (1PM-3PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-physics" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-physics" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> AP Physics 1, High School Physics<br><br>
              <i>Physics Fundamentals</i> is designed to introduce students to algebra-based physics. Students will cultivate their understanding of physics concepts through inquiry-based lessons utilizing hands-on and interactive activities. Students will develop a conceptual understanding of physical processes and laws as they explore topics such as kinematics, dynamics, circular motion and gravitation, energy, momentum, and much more. As part of their learning kit, students will receive a digital drawing tablet and pen so they are able to work on math collaboratively over a digital whiteboard. Students who participate in this course will be ready to ace their physics class in the upcoming year - whether it be AP Physics 1 or a standard physics class. </p>
            </div>
          </div>           
        </div>
      </article>
    </section>

    <section id="hs-chem" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Exploration of Chemical Processes</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon (1PM-3PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-chem" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-chem" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> High School Chemistry<br><br>
              <i>Exploration of Chemical Processes</i> provides students a basic understanding of chemical principles and processes. Through interactive and hands-on lessons, students will explore atomic and molecular structures, states of matter, energetics, and stoichiometry of reactions. Students will gain foundational knowledge and develop a sense of chemical process as it relates to the world around them. By the end of the course, students will be prepared for any high school chemistry course in the upcoming year!</p>
            </div>
          </div>           
        </div>
      </article>
    </section>

    <section id="hs-enviro" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">High School Prep Course</p>
                  <h3 class="card__title">Environmental Microbiology</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Dates:</b> July 13th - 31st</p>
              </div>
              <div class="col-lg-4 btn-container">
                  <p class="card__text"><b>Time:</b> Afternoon (1PM-3PM CST)</p>
              </div>
              <div class="col-lg-4 btn-container">
            <p class="card__text"><b>Tuition:</b> $670 for 3 weeks</p>
              </div>
              </div>
            </div>
          </div>
          <div>
      <a data-toggle="collapse" href="#collapse-hs-enviro" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
      <div id="collapse-hs-enviro" class="collapse">
              <p class="card__body">
              <b>To Prepare For:</b> High School Biology, AP Environmental Science<br><br>
              <i>Environmental Microbiology</i> explores the relationship between microorganisms and their effects on the environment. In addition to studying the basic principles of environmental science and microbiology, students will examine the intersection of these two fields and the effect of microorganisms on the environment. The course also provides students with the scientific principles, concepts, and methodologies required to study microorganisms and the environment. By the end of the course, students will be prepared for taking high school biology or AP Environmental Science in the upcoming year.</p>
            </div>
          </div>          
        </div>
      </article>
    </section>

    </section>  
    
</div>


<section id="experiences" class="grey-box">
<div id="experiences" class="container">
  <div class="row pt-4 pb-4">
      <div class="col-lg-8">
        <h2 class="home-header" style="padding-bottom:0; font-weight:700">Educational Experiences</h2>
        <h3 class="home-subheader">1 week | Middle and High School | 2-3 hours per day</h3>
        <p class="lead">Sponsored by the LSU College of Engineering, our Educational Experiences are designed to provide fun, educational programs for middle and high schoolers during the summer.</p>
      </div>

      <div class="col-lg-4 my-auto academy-image">
        <img src="/assets/img/home/engineering.jpg" alt="Student preparing for college">
      </div>
    </div>

  <section class="cards">

    <section id="exploring-stem" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">Educational Experience</p>
                  <h3 class="card__title">Exploring STEM</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> June 15th - 19th</p>
              </div>
              <div class="col-lg-3 btn-container">
            	  <p class="card__text"><b>Grades:</b> Current 6th-8th</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> 9AM-12PM CST</p>
              </div>
              <div class="col-lg-3 btn-container">
            	  <p class="card__text"><b>Tuition:</b> $175</p>
              </div>
              </div>
            </div>
          </div>
          <div>
          <a data-toggle="collapse" href="#collapse-exp-stem" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
          <div id="collapse-exp-stem" class="collapse">
            <p class="card__body">For current 6th through 8th graders. Join us this week as we introduce you to a variety of cutting-edge STEM fields. Through hands-on activities, you will have the opportunity to work in teams to design, build, and present projects. The program will feature:</p>
            <li>Projects and activities for participants to complete individually and in groups</li>
            <li>3 consecutive hours of structured learning time Monday-Friday each morning</li>
            <li>A mailed learning kit containing supplies for the course</li>
            <p class="card__body"><b>Sponsored by the College of Engineering</b></p>
          </div>
        </div>          
        </div>
      </article>
    </section>

    <section id="xcite" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">Educational Experience</p>
                  <h3 class="card__title">Halliburton Women in Engineering</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> July 12th - 17th</p>
              </div>
              <div class="col-lg-3 btn-container">
            	  <p class="card__text"><b>Grades:</b> Current 8th-11th</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> 9:00AM - 12:30PM CST</p>
              </div>
              <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Tuition:</b> $175</p>
              </div>
              </div>
            </div>
          </div>
          <div>
          <a data-toggle="collapse" href="#collapse-exp-xcite" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
          <div id="collapse-exp-xcite" class="collapse">
            <p class="card__body">The LSU College of Engineering is proud to offer the 2020 online Halliburton Women in Engineering Introduction to Engineering summer camp in lieu of the traditional Halliburton XCITE residential camp (all in-person summer experiences and courses have transitioned to remote instruction for the Summer of 2020).<br>
            <br>
           	The Halliburton Women in Engineering 2020 Introduction to Engineering summer camp is focused on providing rich experiences for motivated young high school women, i.e. rising 9th - 12th grade students, while interacting with female role models and engineers. This online, real-time program gives participants the chance to express their creativity and explore multiple engineering disciplines through LSU faculty-led live and recorded presentations followed by supplemental engineering activities. The activities will be performed in virtual groups coached by LSU women engineering students.  Each student will receive a materials kit and a list of common household supplies needed to complete the activities.<br>
            <br>
            The camp kick-off event for parents and students will be held on Sunday afternoon, July 12th. Sessions will  be Monday – Friday, from 9:00am to 12:30pm with a scheduled break. Students who successfully complete the camp will be offered an on-campus weekend engineering experience in Fall 2020 which will include an engineering design competition ($50 estimated cost not including lodging) and priority registration for Summer 2021  Halliburton XCITE camp. Majors covered: Biological, Chemical, Civil, Computer Engineering, Construction Management, Electrical, Environmental, Industrial, and Mechanical.<br>
            <br>
            *Traditionally, XCITE focuses on female students; particularly rising 9th and 10th graders.</p>
            <p class="card__body"><b>Sponsored by the College of Engineering</b></p>
          </div>
        </div>          
        </div>
      </article>
    </section>

    <section id="rehams" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">Educational Experience</p>
                  <h3 class="card__title">Multicultural Engineering Tigers</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> July 12th - 17th</p>
              </div>
              <div class="col-lg-3 btn-container">
            	  <p class="card__text"><b>Grades:</b> Current 9th-11th</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> 9:00AM - 12:30PM CST</p>
              </div>
              <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Tuition:</b> $175</p>
              </div>
              </div>
            </div>
          </div>
          <div>
          <a data-toggle="collapse" href="#collapse-exp-rehams" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
          <div id="collapse-exp-rehams" class="collapse">
            <p class="card__body">The LSU College of Engineering is offering the Multicultural Engineering Tigers summer camp in lieu of its residential REHAMS Introduction to Engineering summer camp (all in-person summer experiences and courses have transitioned to remote instruction for the Summer of 2020).<br>
            <br>
           	The Multicultural Engineering Tigers 2020 Introduction to Engineering summer camp is offered to curious and motivated high school students, i.e. rising 10th -12th grade students*. This online, real-time program gives high school students the chance to discover how engineers solve problems and explore multiple engineering disciplines through LSU faculty-led live and recorded presentations followed by supplemental engineering activities that students can perform at home. The activities will be performed in virtual groups coached by LSU engineering students.  Each student will receive a kit with materials and a list of common household supplies needed to complete the activities.<br>
            <br>
            The camp kick-off event for parents and students will be held on Sunday afternoon, July 12th. Sessions will  be Monday – Friday, from 9:00am to 12:30pm with a scheduled break. Students who successfully complete the camp will be offered an on-campus weekend engineering experience in Fall 2020 which will include an engineering design competition ($50 estimated cost not including lodging) and priority registration for Summer 2021 REHAMS camp. Majors covered: Biological, Chemical, Civil, Computer Engineering, Construction Management, Electrical, Environmental, Industrial, and Mechanical.<br>
            <br>
            *Traditionally, REHAMS is focused on bringing together multicultural high school students to learn about engineering.</p>
            <p class="card__body"><b>Sponsored by the College of Engineering</b></p>
          </div>
        </div>          
        </div>
      </article>
    </section>

    <section id="explorecs" class="mt-4 mb-4 w-full pl-1 pr-1">
      <article class="h-full border border-black light-background">
        <div class="card__inner">
          <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-8 btn-container" style="text-align:left;padding-left:0">
                  <p class="card__topic">Educational Experience</p>
                  <h3 class="card__title">Coding Camp</h3>
              </div>
              <div class="col-lg-4 btn-container">
            <a href="/apply" class="btn btn-outline-purple btn-text-large m-2" role="button">Apply Now</a>
              </div>
              </div>
            </div>
          </div>
            <div class="container" style="padding:0">
            <div class="row">
              <div class="col-lg-12">
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Dates:</b> June 15th - 19th</p>
              </div>
              <div class="col-lg-3 btn-container">
            	  <p class="card__text"><b>Grades:</b> Current 9th-11th</p>
              </div>
              <div class="col-lg-3 btn-container">
                  <p class="card__text"><b>Time:</b> 10AM-12PM & 1-2PM</p>
              </div>
              <div class="col-lg-3 btn-container">
            <p class="card__text"><b>Tuition:</b> $175</p>
              </div>
              </div>
            </div>
          </div>
          <div>
          <a data-toggle="collapse" href="#collapse-exp-coding" class="btn btn-outline-purple btn-text-small">+ View Course Description</a>
          <div id="collapse-exp-coding" class="collapse">
            <p class="card__body">Do you want to get a head start learning about computer science and programming? Computer Science is one of the fastest-growing fields in today’s job market. It plays a crucial role in our IT infrastructure supporting all kinds of applications from scientific computing to engineering, from game development to social media, from business administration to healthcare, and within many other domains. In this camp, you will learn problem-solving skills in programming using Python and learn key concepts in major areas of computer science (such as algorithms, data analytics, visualization, Artificial Intelligence, robotics, and cybersecurity). All participants will receive a kit that includes a coding book and other materials.<br>
            <br>
            <b>Sponsored by LSU’s Division of Computer Science and Engineering and Louisiana Economic Development</b></p>
          </div>
        </div>          
        </div>
      </article>
    </section>
    
  </section>
    
        
    
  </div>
</section>
<!--</section>-->