	<div class="container">
	    <div class="row pt-4 pb-4">
	      <div class="col-lg-12 ">
	        <p class="lead">All students in the LSU Pre-College Virtual Academy will need to meet the following technology requirements in order to participate in any of the courses offered. Certain courses may have additional requirements - check the course descriptions <a href="/virtual">here</a> for more info.</p>
	        <p class="lead"><b>Student tech requirements:</b></p>

	        <ul class="lead" style="padding-left:0.5rem;text-align:left">
      		  <li>Access to an email for essential communication from LSU Pre-College
      		  <li>Reliable speakers or headphones to hear instructors and participate in class discussions
      		  <li>Webcam with working camera and microphone to participate in activities and projects during class
      		  <li>Computer with 1GB of available RAM and 2GHz or faster processor running one of the following operating systems:
      		  <li style="list-style-type:none">
      			<ul class="lead" style="text-align:left">
      			  <li>Windows 7 or newer
      			  <li>Mac OSX 10.10 or newer
      			  <li>ChromeOS (not recommended) 
      			</ul>
      		  <li>Access to reliable internet with at least 2k kbps available bandwidth
      		  <li>Up-to date Chrome or Firefox browser with cookies enabled
      		  <li>Adobe Acrobat Reader and Adobe Flash Player (version 11.2 or higher)
      		  <li>Reliable access to Google and the Google domain
      		  <li>Access to a word processor such as Microsoft Word or Google Docs
      		</ul>

      		<div class="col-lg-6 mt-4 mb-2 btn-container">
	          <a href="/virtual" class="btn btn-outline-purple btn-text-large" role="button">View Courses</a>
			</div>

			<div class="col-lg-6 mt-4 mb-2 btn-container">
	          <a href="/apply" class="btn btn-outline-purple btn-text-large" role="button">Apply Now</a>
			</div>

	      </div>
	    </div>
	</div>