<section class="grey-box">
	<div class="container">
	    <div class="row pt-4 pb-4">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center" style="font-size:2rem; color:#000">Summer 2021 Registration Opens February 15th</h2>
        	<p class="lead" style="text-align:center; font-size: 1.5rem"><b>Check out our Course Offerings - <a href="/courses">click here!</a></b></p>
	        <p class="lead">Below are the dates, deadlines, and tuition rates for all 2021 LSU Pre-College courses. Please contact <a href="mailto:precollege@lsu.edu">precollege@lsu.edu</a> with any questions or concerns.</p>
		  </div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Virtual Academy & Experiences</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="virtual-academy" }}
							<li>{{title}}</li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>June 28 - July 16</td>
					<td><b>Registration:</b> May 14, 2021</td>
					<td>$895.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>Exploring STEM</li>
						</ul>
					</td>
					<td>June 7 - June 11</td>
					<td><b>Registration:</b> April 25, 2021</td>
					<td>$350.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>Halliburton XCITE</li>
						</ul>
					</td>
					<td>July 11 - July 16</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$250.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>REHAMS</li>
						</ul>
					</td>
					<td>June 20 - June 25</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$250.00</td>
				  </tr>
				</tbody>
			  </table>
			</div>

			<p class="lead"><b>Notes:</b></p>
			<ul class="lead mb-0" style="text-align:left; font-size:1rem">
			<li>Students participating in our virtual programs must meet our <a href="/virtual/tech">technology requirements</a>.</li>
			<li>Thanks to corporate sponsors, Halliburton XCITE and REHAMS offer needs-based scholarships. More information can be found on our <a href="/apply">application page</a>.</li>
			<li>For Halliburton XCITE and REHAMS, participants must submit their application by April 25, 2021 and will be notified of their acceptance and scholarship awards (if applicable) by May 5, 2021. Full payment and registration packet are due by May 28, 2021.</li>
			<li>Tuition amounts marked with * above indicate that full payment is due at time of registration.</li>			
			</ul>
	      </div>
	</div>
</section>

<section class="grey-box">
	<div class="container">
		<div class="row pt-4 pb-4">
		  <div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Summer Academy (On-Campus)</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-6th-july-16th" }}
							<li>{{title}}</li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>July 6 - July 16</td>
					<td><b>Registration:</b> May 28, 2021<br><b>Full Payment:</b> June 25, 2021</td>
					<td>$1,250.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-19th-july-30th" }}
							<li>{{title}}</li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>July 19 - July 30</td>
					<td><b>Registration:</b> June 6, 2021<br><b>Full Payment:</b> June 25, 2021</td>
					<td>$1,250.00</td>
				  </tr>
				</tbody>
			  </table>
			</div>

			<p class="lead"><b>Notes:</b></p>
			<ul class="lead mb-0" style="text-align:left; font-size:1rem">
			<li>A non-refundable deposit of $500 is due at the time of registration.</li>
			<li>Students participating in our on-campus programs must adhere to and follow our COVID-19 guidelines.</li>	
			</ul>
		  </div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Summer Experiences (On-Campus)</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>Exploring STEM</li>
						</ul>
					</td>
					<td>June 14 - June 18</td>
					<td><b>Registration:</b> June 6, 2021</td>
					<td>$450.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>Halliburton XCITE</li>
						</ul>
					</td>
					<td>July 11 - July 16</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$395.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>REHAMS</li>
						</ul>
					</td>
					<td>June 20 - June 25</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$395.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>eXploreCS Junior</li>
						</ul>
					</td>
					<td>June 7 - June 11</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$395.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li>eXploreCS High School</li>
						</ul>
					</td>
					<td>June 14 - June 18</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 28, 2021</td>
					<td>$395.00</td>
				  </tr>
				</tbody>
			</table>
		  </div>

		  <p class="lead"><b>Notes:</b></p>
		  <ul class="lead mb-0" style="text-align:left; font-size:1rem">
		  <li>Students participating in our on-campus programs must adhere to and follow our COVID-19 guidelines.</li>
		  <li>Thanks to corporate sponsors, Halliburton XCITE and REHAMS offer needs-based scholarships. More information can be found on our <a href="/apply">application page</a>.</li>
		  <li>Thanks to a Louisiana Department of Education grant, eXploreCS is also able to offer needs-based scholarships.</li>
		  <li>For Halliburton XCITE, REHAMS, and eXploreCS, participants must submit their application by April 25, 2021 and will be notified of their acceptance and scholarship awards (if applicable) by May 5, 2021. Full payment and registration packet are due by May 28, 2021.</li>
		  <li>Tuition amounts marked with * above indicate that full payment is due at time of registration.</li>
		  </ul>
		</div>
	  </div>
  </div>
</section>