<section class="grey-box">
	<div class="container">
	    <div class="row pt-4 pb-4">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center" style="font-size:2rem; color:#000">Summer 2021 Registration Opens February 15th</h2>
        	<p class="lead" style="text-align:center; font-size: 1.5rem"><b>Check out our Course Offerings - <a href="/courses">click here!</a></b></p>
	        <p class="lead">Below are the dates, deadlines, and tuition rates for all 2021 LSU Pre-College courses. Please contact <a href="mailto:precollege@lsu.edu">precollege@lsu.edu</a> with any questions or concerns.</p>
		  </div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Virtual Academy & Experiences</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr class="table-purple">
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="virtual-academy" }}
							<li><a href="/courses#{{slug}}">{{title}}</a></li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>June 28 - July 16</td>
					<td><b>Registration:</b> May 14, 2021</td>
					<td>$895.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#exploring-stem-virtual">Exploring STEM (Virtual)</a></li>
						</ul>
					</td>
					<td>June 7 - June 11</td>
					<td><b>Registration:</b> April 25, 2021</td>
					<td>$350.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#halliburton-xcite-virtual">Halliburton XCITE (Virtual)</a></li>
						</ul>
					</td>
					<td>July 11 - July 16</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$225.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#rehams-engineering-virtual">REHAMS (Virtual)</a></li>
						</ul>
					</td>
					<td>June 20 - June 25</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$225.00</td>
				  </tr>
				</tbody>
			  </table>
			</div>

			<p class="lead"><b>Notes:</b></p>
			<ul class="lead mb-0" style="text-align:left; font-size:1rem">
			<li>Students participating in our virtual programs must meet our <a href="/virtual/tech">technology requirements</a>.</li>
			<li>Thanks to corporate sponsors, Halliburton XCITE and REHAMS offer needs-based scholarships. More information can be found on our <a href="/apply">application page</a>.</li>
			<li>For Halliburton XCITE and REHAMS, participants must submit their application by April 25, 2021 and will be notified of their acceptance and scholarship awards (if applicable) by May 5, 2021. Full payment is due by May 14, 2021.</li>
			<li>Tuition amounts marked with * above indicate that full payment is due at time of registration.</li>			
			</ul>
	      </div>
	</div>
</section>

<section class="grey-box">
	<div class="container">
		<div class="row pt-4 pb-4">
		  <div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Summer Academy (On-Campus)</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-6th-july-16th" }}
							<li><a href="/courses#{{slug}}">{{title}}</a></li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>July 6 - July 16</td>
					<td><b>Registration:</b> May 28, 2021<br><b>Full Payment:</b> June 4, 2021</td>
					<td>$1,250.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							{{ collection:courses taxonomy:course_type="on-campus-academy" taxonomy:dates="july-19th-july-30th" }}
							<li><a href="/courses#{{slug}}">{{title}}</a></li>
							{{ /collection:courses }}
						</ul>
					</td>
					<td>July 19 - July 30</td>
					<td><b>Registration:</b> May 28, 2021<br><b>Full Payment:</b> June 4, 2021</td>
					<td>$1,250.00</td>
				  </tr>
				</tbody>
			  </table>
			</div>

			<p class="lead"><b>Notes:</b></p>
			<ul class="lead mb-0" style="text-align:left; font-size:1rem">
			<li>A non-refundable deposit of $500 is due at the time of registration.</li>
			<li>Students participating in our on-campus programs must adhere to and follow our COVID-19 guidelines. Failure to follow guidelines may result in removal from the program without a refund.</li>	
			</ul>
		  </div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12 ">
			<h3 class="home-subheader text-center"><b>Summer Experiences (On-Campus)</b></h3>
			<div class="table-responsive">
			  <table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">Course</th>
					<th scope="col">Dates</th>
					<th scope="col">Deadlines</th>
					<th scope="col">Tuition</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#exploring-stem-on-campus">Exploring STEM (On-Campus)</li>
						</ul>
					</td>
					<td>June 21 - June 25</td>
					<td><b>Registration:</b> April 25, 2021</td>
					<td>$450.00*</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#halliburton-xcite">Halliburton XCITE (On-Campus)</a></li>
						</ul>
					</td>
					<td>July 11 - July 16</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$350.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#rehams">REHAMS (On-Campus)</a></li>
						</ul>
					</td>
					<td>June 20 - June 25</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$350.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#explorecs-junior">eXploreCS Junior</a></li>
						</ul>
					</td>
					<td>June 7 - June 11</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$450.00</td>
				  </tr>
				  <tr>
					<td>
						<ul class="lead mb-0" style="text-align:left; font-size:1rem">
							<li><a href="/courses#explorecs-high-school">eXploreCS High School</a></li>
						</ul>
					</td>
					<td>June 14 - June 18</td>
					<td><b>Application:</b> April 25, 2021<br><b>Full Payment:</b> May 14, 2021</td>
					<td>$450.00</td>
				  </tr>
				</tbody>
			</table>
		  </div>

		  <p class="lead"><b>Notes:</b></p>
		  <ul class="lead mb-0" style="text-align:left; font-size:1rem">
		  <li>Students participating in our on-campus programs must adhere to and follow our COVID-19 guidelines. Failure to follow guidelines may result in removal from the program without a refund.</li>
		  <li>Thanks to corporate sponsors, Halliburton XCITE and REHAMS offer needs-based scholarships. More information can be found on our <a href="/apply">application page</a>.</li>
		  <li>Thanks to a Louisiana Department of Education grant, eXploreCS is also able to offer needs-based scholarships.</li>
		  <li>For Halliburton XCITE and REHAMS, participants must submit their application by April 25, 2021 and will be notified of their acceptance and scholarship awards (if applicable) by May 5, 2021. Full payment is due by May 14, 2021.</li>
		  <li>Tuition amounts marked with * above indicate that full payment is due at time of registration.</li>
		  </ul>
		</div>
	  </div>
  </div>
</section>

<section class="grey-box" id="policies">
	<div class="container">
		<div class="row pt-4 pb-4">
		  <div class="col-lg-12 ">
			<h2 class="home-center" style="font-size:2rem; color:#000"><b>Program Policies</b></h2>
			<h3 class="home-subheader"><b>Cancellation Policy</b><br>
				<a data-toggle="collapse" href="#collapse-cancel" class="btn btn-outline-purple btn-text-small">+ Read More</a>
			</h3>
			<div id="collapse-cancel" class="collapse">
				<p class="lead pt-2">LSU Pre-College reserves the right to change or cancel any program if conditions warrant. Notification will be provided as early as possible. In the event a program or course is cancelled due to low enrollment, students will be offered participation in other programs or full refunds will be processed.</p>
				<p class="lead">LSU Pre-College reserves the right to dismiss any student, without reimbursement of payment, who is unable to adhere to the Student Code of Conduct stated in the LSU Pre-College Student Handbook. LSU may, in its sole discretion, require any student who has violated the University’s policies to leave the program, and campus, at the student’s expense. All parents and students are encouraged to carefully read the LSU Pre-College Student Handbook.</p>
				<p class="lead"><b>Course Cancellations or Modifications due to COVID-19</b><br>If a course is cancelled by LSU Pre-College due to COVID-19 prior to May 5, 2021, students will be offered participation in one of our virtual programs, a voucher to participate in programs next summer, or a full refund (including the deposit). After May 5, 2021, if a course is cancelled, students will be able to participate in a virtual version of the course or be given a voucher to participate in programs next summer.</p>
			</div>

			<h3 class="home-subheader"><b>Withdrawal and Refund Policy</b><br>
				<a data-toggle="collapse" href="#collapse-refund" class="btn btn-outline-purple btn-text-small">+ Read More</a>
			</h3>
			<div id="collapse-refund" class="collapse">
				<p class="lead">Students who wish to withdraw from a program or cancel their registration must notify LSU Pre-College in writing by emailing <a href="mailto:precollege@lsu.edu">precollege@lsu.edu</a>. Students who withdraw from a program prior to May 5, 2021 are eligible for a refund (excluding any non-refundable deposits). After May 5, 2021, refunds will not be given.</p>
				<p class="lead">Students registered for a program must be in attendance on or before the second day of class; otherwise, their registration may be canceled and they may be removed from the program.</p>
			</div>

			<h3 class="home-subheader"><b>COVID-19 Policies and Protocols</b><br>
				<a data-toggle="collapse" href="#collapse-covid" class="btn btn-outline-purple btn-text-small">+ Read More</a>
			</h3>
			<div id="collapse-covid" class="collapse">
				<p class="lead">The health and well-being of our students, employees, and the LSU community are a priority for LSU Pre-College Summer Programs. We are committed to providing a safe learning environment for everyone. Students and employees are required to follow all health and safety guidelines, policies, and protocols established by Louisiana State University and LSU Pre-College Summer Programs as well as state and federal laws and regulations.</p>
				<p class="lead">LSU continues to follow all CDC and state guidelines for health and safety and is doing everything possible to prevent the spread of COVID-19 on campus. Since the pandemic is a fluid situation, all information is subject to change if the state of the pandemic changes at LSU or in Louisiana. Visit <a href="https://www.lsu.edu/roadmap">lsu.edu/roadmap</a> for the most up-to-date information regarding COVID-19.</p>
			</div>
		  </div>
		</div>
	</div>
</section>