<section class="grey-box">
	<div class="container">
	    <div class="row pt-4 pb-4">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center" style="font-size:2rem; color:#000">Summer 2021 Registration Opens February 15th</h2>
        	<p class="lead" style="text-align:center; font-size: 1.5rem"><b>Check out our Course Offerings - <a href="/courses">click here!</a></b></p>
	        <p class="lead">Below are the tuition rates for 2021 LSU Pre-College courses. Additionally, a late fee of $250 will be applied to any payments received after May 15th, 2021.</p>
	        <p class="lead"><b>Regular Application Deadline:</b> April 30th, 2021</p>
	        <p class="lead"><b>Tuition Deposit:</b> For on-campus courses, we must receive your $500 tuition deposit with your online registration. The application fee is counted towards your tuition deposit balance. For virtual courses, we must receive your full payment with your registration.</p>
	        <p class="lead"><b>Payment Deadline:</b> For on-campus courses, full tuition payment must be made by May 15th, 2021.</p>
	      </div>
	    </div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-4">
			<h3 class="home-subheader text-right">Virtual Tuition</h3>
			<p class="lead text-right"><b>Regular:</b> $895</p>
		</div>
		<div class="col-lg-4">
			<h3 class="home-subheader">On-Campus Tuition</h3>
			<p class="lead"><b>Regular:</b> $1250</p>
		</div>
	</div>
</section>

<section class="grey-box">
	<div class="container">
		<div class="row pt-4 pb-4">
			<div class="col-lg-12">
				<h3 class="home-subheader">Tuition Includes:</h3>
				<p class="lead">Tuition for commuting students includes 6 hours of supervision and instruction each day and lunch every weekday of the program. Summer Academy tuition is nonrefundable. Refunds are offered at the discretion of LSU and are subject to an administrative fee.
			</div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="home-header">Financial Aid and Scholarships</h3>
			<p class="lead">Unfortunately, we are not able to offer scholarships or financial aid this summer.</p>
		</div>
	</div>
</section>
