
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="//use.typekit.net">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LSU Pre-College</title>

    <link rel="stylesheet" href="{{ theme:css }}">
    <!--Proxima Nova Font-->
    <link rel="stylesheet" href="https://use.typekit.net/ebv4zbq.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="//cdn.callrail.com/companies/288929959/dd3cf516d4fa700b8e63/12/swap.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {{ partial:cookie_consent }}

</head>

<body>

    {{ partial:header }}
    
    {{ template_content }}

    {{ partial:footer }}
    
</body>
</html>
