<section class="grey-box">
	<div class="container">
	    <div class="row pt-5 pb-5">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Applications Delayed</h2>
	      	<p class="lead"><b>Please see our coronavirus page <a href="/coronavirus">here</a> for an important update about our summer programs.</b></p>
	        <p class="lead">We are committed to making the LSU Pre-College Summer Academy affordable for all students and their families. A limited number of scholarships and financial aid awards are available based on the needs of each family.</p>
	        <p class="lead">To be considered for full or partial scholarships, please complete the Scholarships & Financial Aid Application below <b>after</b> applying for the LSU Pre-College Summer Academy. The application can be found at <a href="/apply">this link</a>, and application fees are waived for financial aid applicants.</p>

	      </div>
	    </div>
	</div>
</section>

<!--
<div class="container" style="padding-top:2rem; padding-bottom: 2rem; max-width: 700px">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "6360090",
		formId: "e36f4702-ddd4-4e8d-bf0b-dcac3e6f1a4a",
	  });
	</script>
</div>
-->