<section class="grey-box">
	<div class="container">
	    <div class="row pt-4 pb-4">
	      <div class="col-lg-12 ">
	      	<h2 class="home-center">Summer Academy Tuition</h2>
	        <p class="lead">Below are the tuition rates for the 2020 LSU Pre-College Summer Academy. Additionally, a late fee of $250 will be applied to any payments received after May 15th, 2020.</p>
	        <p class="lead"><b>Early Bird Deadline:</b> February 29th, 2020</p>
	        <p class="lead"><b>Regular Application Deadline:</b> April 30th, 2020</p>
	        <p class="lead"><b>Tuition Deposit:</b> To receive the Early Bird discount, we must receive your $1000 tuition deposit by February 29th. The application fee is counted towards your tuition deposit balance.</p>
	        <p class="lead"><b>Payment Deadline:</b> Full tuition payment must be made by May 15th, 2020.</p>
	        <p class="lead"><b><a href="/academy/scholarships">Scholarships & Finanicial Aid</a>:</b> We are committed to making the LSU Pre-College Summer Academy affordable for all students and their families. A limited number of scholarships and financial aid awards are available based on the needs of each family. <a href="/academy/scholarships">Click here</a> for more information on Scholarships & Financial Aid.</p>
	      </div>
	    </div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-4">
			<h3 class="home-subheader text-right">Residential Tuition</h3>
			<p class="lead text-right"><b>Early-Bird:</b> $3950<br><b>Regular:</b> $4250</p>
		</div>
		<div class="col-lg-4">
			<h3 class="home-subheader">Commuting Tuition</h3>
			<p class="lead"><b>Early-Bird:</b> $2750<br><b>Regular:</b> $2950</p>
		</div>
	</div>
</section>

<section class="grey-box">
	<div class="container">
		<div class="row pt-4 pb-4">
			<div class="col-lg-12">
				<h3 class="home-subheader">Tuition Includes:</h3>
				<p class="lead">Tuition for commuting students includes 8 1/2 hours of supervision and instruction each day and lunch every weekday of the program. Tuition for residential students includes 8 1/2 hours of instruction each day, 24/7 supervision, and housing, breakfast, lunch, and dinner for every day of the program. <br><br>Summer Academy tuition is nonrefundable. Refunds are offered at the discretion of LSU and are subject to an administrative fee.
			</div>
		</div>
	</div>
</section>

<section class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="home-header">Financial Aid and Scholarships</h3>
			<p class="lead">We will offer a limited number of full and partial scholarships/financial aid this summer. If you would like to be considered for an LSU Pre-College Summer Academy scholarship, please indicate this when submitting your application.</p> 
		</div>
		<div class="col-lg-12">
			<div class="mt-2 mb-2 btn-container">
            	<a href="/apply" class="btn btn-outline-purple" role="button">View Application</a>
          	</div> 
        </div>
	</div>
</section>